extends ../template

block variables
    - var title = '404'
    - var contactForm = false

block content
    main
        .background-wrap
            .page404.block-wrap
                h1.page404__h Страница не найдена
                span.page404__text 404
                a.button.button__ghost.page404__button Вернуться на главную 
