extends ../template

block variables
    - var title = 'Статья'
    - var contactForm = false

block content  
    main
        .background-wrap
            nav.bread-crumbs__wrap
                ul.bread-crumbs
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Главная
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Продукция
                    li.bread-crumbs__item
                        span(href="#").bread-crumbs__linc Кварцевый агломерат

        .background-wrap.article__head-wrap
            .block-wrap.article__head
                h1.article__head-h Установка лестницы из натурального камня в квартире
                img(src="./assets/images/slider1.png", alt="Установка лестницы из натурального камня в квартире", height="450").article__head-img
                
        .background-wrap.article__wrap
            .block-wrap.article
                h2 Установка лестницы
                p Lorem ipsum dolor sit, amet consectetur adipisicing elit. Laboriosam, voluptate quidem? Et, eius? Incidunt nobis ex ipsam facere ab quasi aliquam nulla, ratione ad maxime beatae eius labore doloremque voluptas.
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Explicabo officiis sapiente porro reiciendis esse magnam, ratione odio voluptatibus labore quae, vitae perspiciatis consequatur modi delectus, dolore minus veniam natus exercitationem!Perferendis magnam aspernatur autem optio laboriosam eligendi tenetur eaque fuga. Placeat temporibus eligendi earum at ratione libero praesentium voluptates, provident, soluta totam ullam animi tenetur dolorem tempora, vitae ipsam deleniti.Voluptates iusto illo quis labore? Dignissimos, maiores? Consectetur unde provident molestiae magni neque ipsum eaque enim quos illum officiis assumenda velit sapiente, quam totam ipsa rem?

                h3 Установка лестницы из натурального камня
                p Lorem ipsum dolor sit amet consectetur, adipisicing elit. Veniam distinctio voluptatibus culpa doloribus sunt! Saepe, atque repudiandae commodi voluptates praesentium error natus ut, quaerat facilis earum eum eius illum ipsum.

                h4 Установка лестницы из натурального камня в квартире
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit tenetur ex vitae quis cupiditate et id iure eius iste voluptatem architecto earum obcaecati veniam voluptatum, inventore voluptates rerum sunt nisi!Dolorem illum corrupti rerum, nobis cum vero minus deleniti atque ipsam, totam veritatis, eaque dicta perferendis obcaecati unde quasi harum molestiae. Temporibus officia, consequuntur doloremque reiciendis illo soluta quia fugit!Mollitia eveniet perferendis, laudantium, voluptates voluptatibus esse optio animi vel debitis consequuntur velit ad suscipit dolores? Eius a, veritatis iure magnam eaque ipsa quos repudiandae repellendus eveniet eum maxime vitae!Molestias ad nesciunt dicta, dolorum impedit odio consequuntur iusto illo fuga quaerat iure, aliquam eaque iste libero exercitationem dolorem aperiam officiis, quas maxime ipsa? Inventore laudantium vero et consequatur a!Ipsum odio dolorum sunt optio, modi enim et officia est molestiae reiciendis animi, deserunt tenetur quibusdam aspernatur similique blanditiis sed provident eaque odit eveniet quasi dicta. Commodi cum distinctio recusandae.Provident, veritatis dolorem doloribus velit dicta unde reprehenderit assumenda. Quidem, blanditiis. Quia voluptas, optio nobis nisi quis voluptatibus, dolores libero magnam, necessitatibus id sint inventore aspernatur ipsam nam vero ratione!Ipsam aut quam magni quia quas voluptatibus doloremque hic laborum officia sit, doloribus dolor vel qui maxime tempore fugiat debitis libero reprehenderit reiciendis cumque.
                table
                    tbody
                        tr
                            th Размер 1
                            th Размер 2
                            th Размер 3
                        tr
                            td Размер 1
                            td Размер 2
                            td Размер 3
                        tr
                            td Размер 1
                            td Размер 2
                            td Размер 3
                        tr
                            td Размер 1
                            td Размер 2
                            td Размер 3


                h5 Установка лестницы
                p Lorem ipsum dolor sit amet consectetur adipisicing elit. Repellat assumenda molestias ullam ipsa mollitia dignissimos, odit nobis, amet, provident fugiat pariatur. Explicabo nemo dolore aliquid nobis cupiditate sed voluptatibus iusto!
                img(src="./assets/images/slider1.png", alt="Статья",)

                h6 Установка лестницы
                p Lorem ipsum, dolor sit amet consectetur adipisicing elit. Aliquam aliquid a, sed harum iusto impedit dolorum exercitationem voluptate magnam velit! Impedit repellat labore blanditiis laboriosam, accusantium consectetur exercitationem quidem asperiores?


