extends ../template

block variables
    - var title = 'Статьи'
    - var contactForm = true

block content
    main
        .wrap-back
            nav.bread-crumbs__wrap
                ul.bread-crumbs
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Главная
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Продукция
                    li.bread-crumbs__item
                        span(href="#").bread-crumbs__linc Кварцевый агломерат

        .wrap-back
            h1.h1.page__h1 Статьи
            .block-wrap
                .article-list__wrap
                    a(href="#").article-list
                        img(src="./assets/images/slider1.png", alt="Установка лестницы").article-list__img
                        h2.article-list__h Установка лестницы из натурального камня в квартире
                        p.article-list__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня.
                    a(href="#").article-list
                        img(src="./assets/images/slider1.png", alt="Установка лестницы").article-list__img
                        h2.article-list__h Установка лестницы из натурального камня в квартире
                        p.article-list__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня.
                    a(href="#").article-list
                        img(src="./assets/images/slider1.png", alt="Установка лестницы").article-list__img
                        h2.article-list__h Установка лестницы из натурального камня в квартире
                        p.article-list__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня.
                    a(href="#").article-list
                        img(src="./assets/images/slider1.png", alt="Установка лестницы").article-list__img
                        h2.article-list__h Установка лестницы из натурального камня в квартире
                        p.article-list__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня.
                    a(href="#").article-list
                        img(src="./assets/images/slider1.png", alt="Установка лестницы").article-list__img
                        h2.article-list__h Установка лестницы из натурального камня в квартире
                        p.article-list__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня.
                    a(href="#").article-list
                        img(src="./assets/images/slider1.png", alt="Установка лестницы").article-list__img
                        h2.article-list__h Установка лестницы из натурального камня в квартире
                        p.article-list__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня.

                .pagination
                    a.pagination__item Назад
                    a.pagination__item.active 1
                    a(href="#").pagination__item 2
                    a(href="#").pagination__item 3
                    a.pagination__item ...
                    a(href="#").pagination__item 12
                    a(href="#").pagination__item Вперед
                    
