doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
        link(rel="apple-touch-icon" href="assets/images/fav.png")

        //- link(rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css")
        //- link(rel="stylesheet" type="text/css" href="assets/styles/lightgallery.min.css")

        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")
        
    body
        include ../components/header.pug
        
        main.background-wrap_calc
            .calc
                h1.calc__heading Расчёт стоимости изделия
                #calc-app
                    nav.calc__road-map
                        ol.calc__road-map-list
                            li(v-for="(item, key, index) in roadMap").calc__road-map-item
                                button(@click='roadMapTo(index)', :disabled="item.disabled", :class="roadMap[key].visible ? 'active' : ''").calc__road-map-linc {{item.text}}

                    .calc__body-wrap
                        .calc__body(v-show="roadMap.category.visible")
                            .calc__options
                                h2.options__heading {{categoryOptions.category.heading}}
                                .options-input__wrap
                                    .options-input(v-for="input in categoryOptions.category.inputsImg")
                                        input(@change="createSelectOptions(), chooseOption('category', input.value, $event), nextButtonDisabled(categoryOptions, 'category')", :id="'productType' + '-' + input.value", :type="categoryOptions.category.type", :name="'productType'", :value="input.value")
                                        label(:for="'productType' + '-' + input.value", tabindex="1")
                                            .options-input__body
                                                .options-input__radio-chec.options-input__radio_bot
                                                img(:src="urlImg + input.img", :alt="input.text").options-input__img
                                            span.options-input__name {{input.text}}

                            .calc__button-wrap
                                button(@click="roadMapTo(1)", :disabled="roadMap.category.disabledButton").button.calc__button Далее

                        .calc__body(v-for="(item, key, index) in options[selectOptions.category]", :key="key", v-show="roadMap[key].visible")
                            .calc__options(v-if="key === 'parameters'")
                                h2.options__heading Выберете подходящую толщину столешнице*
                                .options-input__wrap                                   
                                    label.custom-input(v-for="input in selectOptions.materials.height", :key="'thickness' + input.price")
                                        input(@change="chooseHeight(input)", type="radio", name="thickness", :value="input.value")
                                        .options-input__radio-chec
                                        span {{input.value}} мм 
                                            span.options__radio-text-gray ( {{input.price}} ₽ за 1 <span class="m2">м2</span>)
                            

                            .calc__options(v-for="(optionItem, optionKey) in item", :class="optionItem.optionsClass")
                                h2(v-if="optionItem.heading").options__heading {{optionItem.heading}}
                                .options-input__wrap
                                    .options-input(v-for="input in optionItem.inputsImg")
                                        input(@change="chooseOption(optionKey, input, $event), nextButtonDisabled(item, key)", :id="optionKey + '-' + input.value", :type="optionItem.type", :name="optionKey", :value="input.value")
                                        label(:for="optionKey + '-' + input.value", tabindex="1")
                                            .options-input__body
                                                .options-input__radio-chec
                                                img(:src="urlImg + input.img", :alt="input.text").options-input__img
                                            span.options-input__name {{input.text}}
                                                span(v-if="input.detail").options__radio-text-gray {{input.detail}}
                                    
                                    label.custom-input(v-for="input in optionItem.inputs")
                                        input(@change="chooseOption(optionKey, input, $event), nextButtonDisabled(item, key)", :type="optionItem.type", :name="optionKey", :value="input.value")
                                        .options-input__radio-chec
                                        span {{input.text}}
                                            span(v-if="input.detail").options__radio-text-gray {{" " + input.detail}}
                                    

                                    .options-input__wrap-row(v-if="optionItem.subInputs")
                                        label.custom-input
                                            input(@change="subInputsDisabled(optionKey, key, $event)", type="checkbox", :name="optionItem.subInputs.value", :value="optionItem.subInputs.value")
                                            .options-input__radio-chec
                                            span {{optionItem.subInputs.text}}
                                                span(v-if="optionItem.subInputs.detail").options__radio-text-gray {{" " + optionItem.subInputs.detail}}
                                        .subcategories-input__wrap(:class="subInputsDisabledList[optionKey] ? 'disabled' : ''")
                                            label(v-for="subInputs in optionItem.subInputs.inputs").custom-input
                                                input(@change="chooseOption(optionKey, subInputs, $event), nextButtonDisabled(item, key)", :disabled="subInputsDisabledList[optionKey]", :checked="subInputsDisabledList[optionKey] ? false : ''", :type="optionItem.type", :name="optionItem.subInputs.value", :value="subInputs.value")
                                                .options-input__radio-chec
                                                span {{subInputs.text}}
                                                    span(v-if="subInputs.detail").options__radio-text-gray {{" " + subInputs.detail}}
                                            
                                            label(v-for="subInputs in optionItem.subInputs.inputNumber").custom-input-number
                                                span {{subInputs.text}}
                                                    span(v-if="subInputs.detail").options__radio-text-gray {{" " + subInputs.detail}}
                                                input(@change="chooseOption(optionKey, subInputs, $event), nextButtonDisabled(item, key)", :disabled="subInputsDisabledList[optionKey]", :value="subInputsDisabledList[optionKey] ? '0' : '0'", type="number", :name="optionItem.subInputs.value", min="0", max="999").options__size-input
                                                span {{subInputs.textInput}}
                                    
                                .options__rounding-range-wrap(v-if="optionItem.infoBlock")
                                    span {{optionItem.infoBlock.text}}
                                        span {{$data._store[optionItem.infoBlock.infoPaер1][optionItem.infoBlock.infoPaер2]}}

                            .calc__options.no-border(v-if="key === 'materials'")
                                h2.options__heading Выберите разновидность и цвет камня*
                                select(@change="selectFilter('category', $event)").input.input_select.options__select
                                    option(v-for="optionItem in materials.filterInput.category" :value="optionItem") {{optionItem}}
                                
                                select(@change="selectFilter('color', $event)").input.input_select.options__select
                                    option(v-for="optionItem in materials.filterInput.color" :value="optionItem") {{optionItem}}

                                h3.options__materials-heading Выберите ниже понравившийся вам вариант
                                ul.options__materials-wrap
                                    li(v-for="(mItem, mKey) in materials.filterList", :key="mKey").options__materials
                                        input(@change="chooseMaterial(mItem.height, mKey)", :checked="selectOptions.materials.id === mKey", :id="mKey", type="radio", name="materials")
                                        label(:for="mKey")
                                            img(:src="mItem.imgUrl", :alt="mItem.name").options__materials-img
                                            span.options__materials-name {{mItem.name}}
                                            span.options__materials-price {{mItem.height[0].price + " ₽ за "}}
                                                span.m2 м2
                

                            .calc__button-wrap
                                button(@click='roadMapTo(index)').button.button_gray.calc__button Назад
                                button(@click='roadMapTo(index + 2)', :disabled="roadMap[key].disabledButton").button.calc__button Далее

                        .options__size-wrap
                            .options__size-sticky(v-show="!roadMap.total.visible")
                                .options__size.options__size_norm(v-if="optionsSize.visible.formNorm")
                                    .options__size-img-wrap
                                        .options__size-img-body(:style="roundingNorm" :class="roundingActive ? 'rounding':''")
                                            input(type="checkbox", @click="roundingAngle('topLeft')").size-img-button.sib_top-left
                                            input(type="checkbox", @click="roundingAngle('topRight')").size-img-button.sib_top-right
                                            input(type="checkbox", @click="roundingAngle('bottomRight')").size-img-button.sib_bottom-right
                                            input(type="checkbox", @click="roundingAngle('bottomLeft')").size-img-button.sib_bottom-left

                                    .options__size-arrow-vertical.size-arrow-vertical_left
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('left', $event)", name="formNorm", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-horizon.size-arrow-horizon_bot
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('bottom', $event)", name="formNorm", type="number", step="1", min="30", max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end

                                .options__size.options__size_g(v-if="optionsSize.visible.formG")
                                    .options__size-img-wrap
                                        .options__size-img-body(:style="roundingGBody" :class="roundingActive ? 'rounding':''")
                                            input(type="checkbox", @click="roundingAngle('topLeft')").size-img-button.sib_top-left
                                            input(type="checkbox", @click="roundingAngle('topRight')").size-img-button.sib_top-right
                                            input(type="checkbox", @click="roundingAngle('centerLeft')").size-img-button.sib_bottom-left

                                        .options__size-img-bot-right(:style="roundingGRight" :class="roundingActive ? 'rounding':''")
                                            input(type="checkbox", @click="roundingAngle('bottomRight')").size-img-button.sib_bottom-right
                                            input(type="checkbox", @click="roundingAngle('bottomCenterLeft')").size-img-button.sib_bottom-left

                                    .options__size-arrow-vertical.size-arrow-vertical_left
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('left', $event)", name="formG", :class="formSizeError.right ? 'options__size-min-error' : ''", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-horizon.size-arrow-horizon_top
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('top', $event)", name="formG", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                            span(v-if="formSizeError.top").form-error Не может быть меньше размера
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-vertical.size-arrow-vertical_right
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('right', $event)", name="formG", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                            span(v-if="formSizeError.right").form-error Не может быть меньше размера                                        
                                        .size-arrow.size-arrow_end             
                                    
                                    .options__size-arrow-horizon.size-arrow-horizon_bot
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('bottom', $event)", name="formG", :class="formSizeError.top ? 'options__size-min-error' : ''", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end
                                    
                                .options__size.options__size_p(v-if="optionsSize.visible.formP")
                                    .options__size-img-wrap
                                        .options__size-img-body(:style="roundingPBody" :class="roundingActive ? 'rounding':''")
                                            input(type="checkbox", @click="roundingAngle('topLeft')").size-img-button.sib_top-left
                                            input(type="checkbox", @click="roundingAngle('topRight')").size-img-button.sib_top-right

                                        .options__size-img-bot-right(:style="roundingGRight" :class="roundingActive ? 'rounding':''")
                                            input(type="checkbox", @click="roundingAngle('bottomRight')").size-img-button.sib_bottom-right
                                            input(type="checkbox", @click="roundingAngle('bottomCenterLeft')").size-img-button.sib_bottom-left

                                        .options__size-img-bot-left(:style="roundingPLeft" :class="roundingActive ? 'rounding':''")
                                            input(type="checkbox", @click="roundingAngle('bottomLeft')").size-img-button.sib_bottom-left
                                            input(type="checkbox", @click="roundingAngle('bottomCenterRight')").size-img-button.sib_bottom-right

                                    .options__size-arrow-vertical.size-arrow-vertical_left
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('left', $event)", name="formP", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                            span(v-if="formSizeError.left").form-error Не может быть меньше размера
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-horizon.size-arrow-horizon_top-floor-2
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('top', $event)", name="formP", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                            span(v-if="formSizeError.top").form-error Не может быть меньше размера
                                        .size-arrow.size-arrow_end
                                    
                                    .options__size-arrow-vertical.size-arrow-vertical_right
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('right', $event)", name="formP", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                            span(v-if="formSizeError.right").form-error Не может быть меньше размера
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-horizon.size-arrow-horizon_bot.size-arrow-horizon_bot_2
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('bottomRight', $event)", name="formP", :class="formSizeError.top ? 'options__size-min-error' : ''", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-vertical.options__size-arrow-vertical_body
                                        .size-arrow
                                        .size-line
                                        label.options__size-lable
                                            input(@change="formSize('center', $event)", name="formP", :class="formSizeError.left || formSizeError.right ? 'options__size-min-error' : ''", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end

                                    .options__size-arrow-horizon.size-arrow-horizon_bot.size-arrow-horizon_bot_1
                                        .size-arrow
                                        label.options__size-lable
                                            input(@change="formSize('bottomLeft', $event)", name="formP", :class="formSizeError.top ? 'options__size-min-error' : ''", type="number" step="1" min="30" max="900").options__size-input
                                            span.options__size-text см
                                        .size-arrow.size-arrow_end
                                
                                .options__size-info(v-if="chooseForm")
                                    span.options__size-info-item Площадь 
                                        span(data-size-area) {{optionsSize.size[selectOptions.form.value].area.toFixed(2)}}
                                        span.m2  м2
                                    span.options__size-info-prise Предварительная цена 
                                        span(data-size-prise) 0 
                                        span  ₽


        include ../components/footer.pug

        div(data-close-area='burger').close-area
        div(data-close-area='kontacts').close-area

        //- script(src="assets/scripts/vue.min.js")
        script(src="assets/scripts/vue.js")
        //- script(src="assets/scripts/vuex.min.js")
        script(src="assets/scripts/vuex.js")

        script(src="assets/scripts/state.js")
        script(src="assets/scripts/calculator2.js")

        //- script(src="assets/scripts/accordion.min.js")
        //- script(src="assets/scripts/swiper-bundle.min.js")
        //- script(src="assets/scripts/medium-zoom.min.js")
        //- script(src="assets/scripts/lightgallery.min.js")

        script(src="assets/scripts/imask.min.js")
        script(src="assets/scripts/focus-visible.js")

        //- script(src="assets/scripts/main.js")
