extends ../template

block variables
    - var title = 'Расчёт стоимости изделия'

block content
    main
        nav.bread-crumbs__wrap
            ul.bread-crumbs
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__linc Главная
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__linc Продукция
                li.bread-crumbs__item
                    span(href="#").bread-crumbs__linc Кварцевый агломерат
        .calc
            h1.calc__heading Расчёт стоимости изделия
            nav.calc__road-map
                ol.calc__road-map-list
                    li.calc__road-map-item
                        button(data-calc-tab = 'category').calc__road-map-linc Категория
                    li.calc__road-map-item
                        button(data-calc-tab = 'form' disabled).calc__road-map-linc Форма
                    li.calc__road-map-item
                        button(data-calc-tab = 'materials' disabled).calc__road-map-linc Материалы
                    li.calc__road-map-item
                        button(data-calc-tab = 'parameters' disabled).calc__road-map-linc Параметры
                    li.calc__road-map-item
                        button(data-calc-tab = 'notch' disabled).calc__road-map-linc Вырезы
                    li.calc__road-map-item
                        button(data-calc-tab = 'services' disabled).calc__road-map-linc Доп. услуги
                    li.calc__road-map-item
                        button(data-calc-tab = 'total' disabled).calc__road-map-linc Итог
            .calc__body-wrap
                .calc__body#category
                    .calc__options.options
                        h2.options__heading Выберите подходящую категорию
                        .options-input__wrap
                            .options-input
                                input#category-table(type="radio", name="category" value="table")
                                label(for="category-table" tabindex="1")
                                    .options-input__body
                                        .options-input__radio.options-input__radio_bot
                                        img(src="./assets/images/calc-svg/category-table.svg", alt="Столешница").options-input__img
                                    span.options-input__name Столешница

                            .options-input
                                input#category-windowsill(type="radio", name="category" value="windowsill")
                                label(for="category-windowsill" tabindex="1")
                                    .options-input__body
                                        .options-input__radio.options-input__radio_bot
                                        img(src="./assets/images/calc-svg/category-windowsill.svg", alt="Подоконник").options-input__img
                                    span.options-input__name Подоконник

                            .options-input
                                input#category-stage(type="radio", name="category" value="stage")
                                label(for="category-stage" tabindex="1")
                                    .options-input__body
                                        .options-input__radio.options-input__radio_bot
                                        img(src="./assets/images/calc-svg/category-stage.svg", alt="Ступени").options-input__img
                                    span.options-input__name Ступени
    
                    .calc__button-wrap
                        button(disabled).button.button_gray.calc__button Назад
                        button(data-calc-next-button = 'form', data-radio-required = 'category').button.calc__button Далее
                
                .calc__body#form
                    .calc__options.options
                        h2.options__heading Выберите подходящую форму столешницы
                        div(data-render-options='form').options-input__wrap

                    .calc__button-wrap
                        button(data-calc-previous-button = 'category').button.button_gray.calc__button Назад
                        button(data-calc-next-button = 'materials', data-radio-required = 'form').button.calc__button Далее
                
                .calc__body#materials
                    .calc__options.options
                        h2.options__heading Выберите разновидность и цвет камня
                        select(data-calc-filter = 'color').input.input_select.options__select
                            option(value="all") Любой
                            option(value="black") Черный
                            option(value="read") Красный
                            option(value="yellow") Желтый
                        select(data-calc-filter = 'type').input.input_select.options__select
                            option(value="all") Любой
                            option(value="granit") Гранит
                            option(value="cvarc") Кварцевый агломерат
                            option(value="mramor") Мрамор

                        h3.options__materials-heading Выберите ниже понравившийся вам вариант
                        .options__materials-wrap
                                                    
                    .calc__button-wrap
                        button(data-calc-previous-button = 'form').button.button_gray.calc__button Назад
                        button(data-calc-next-button = 'parameters').button.calc__button Далее

                .calc__body#parameters
                    .calc__options.options
                        h3.options__heading Выберите подходящую категорию
                        div(data-render-options='thickness').options-input__wrap                        
                        
                        .radio-wrap-border

                        h2.options__heading Выберите подходящее форму скругления края столешницы
                        div(data-render-options='rounding').options-input__wrap 
                        
                        .options__rounding-range-wrap
                            h2.options__heading Количество углов: <span id='rounding-number-text'>1</span>
                            .options__rounding-range.range-nick
                                input(type="range", name="rounding-number-range", min="1", max="8", step="1", value="1" disabled).range.range-nick
                                ul.range-nick-wrpa
                                    li.range-nick-item 1
                                    li.range-nick-item 2
                                    li.range-nick-item 3
                                    li.range-nick-item 4
                                    li.range-nick-item 5
                                    li.range-nick-item 6
                                    li.range-nick-item 7
                                    li.range-nick-item 8
                        
                        .radio-wrap-border

                        h3.options__heading Выберите подходящее форму скругления края столешницы
                        div(data-render-options='chamfer_front').options-input__wrap
                        
                    .calc__button-wrap
                        button(data-calc-previous-button = 'materials').button.button_gray.calc__button Назад
                        button(data-calc-next-button = 'notch').button.calc__button Далее
                
                .calc__body#notch
                    .calc__options.options
                        h3.options__heading Выберите нужные вам вырезы в столешницы
                        div(data-render-options='notch').options-input__wrap-row 
                        
                    .calc__button-wrap
                        button(data-calc-previous-button = 'parameters').button.button_gray.calc__button Назад
                        button(data-calc-next-button = 'services').button.calc__button Далее
                
                .calc__body#services
                    .calc__options.options
                        h3.options__heading Выберите нужные вам услуги
                        div(data-render-options='secondary').options-input__wrap-row 
                        .radio-wrap-border-s_60
                        div(data-render-options='installation_services').options-input__wrap-row 

                    .calc__button-wrap
                        button(data-calc-previous-button = 'notch').button.button_gray.calc__button Назад
                        button(data-calc-next-button = 'total').button.calc__button Далее
                
                .calc__body.calc__body_total#total
                    .options
                        .options__total-head
                            h3.options__heading Выбранные параметры
                            .options__total-main-options-wrap
                                .options__total-main-options
                                    span.options__total-main-options-heading Тип столешницы
                                    span.options__total-main-options-text Г-образная 
                                .options__total-main-options
                                    span.options__total-main-options-heading Размеры столешницы
                                    span.options__total-main-options-text 100х100х100х100 см
                                .options__total-main-options
                                    span.options__total-main-options-heading Название камня
                                    span.options__total-main-options-text Vicostone Dark Emperador BQ8560
                                .options__total-main-options
                                    span.options__total-main-options-heading Производитель
                                    span.options__total-main-options-text Vicostone 
                                .options__total-main-options
                                    span.options__total-main-options-heading Цвет
                                    span.options__total-main-options-text серый quarty 
                        
                        .radio-wrap-border-s
                        
                        .options__total-body
                            h3.options__heading Выбранные параметры
                            .options__options-price-wrap
                                .options__total-options-table
                                    table
                                        tr.options__total-options-head
                                            td Наименование
                                            td Описание
                                            td Стоимость
                                        tr
                                            td Кол-во материала
                                            td 2 листа по 3м
                                            td 74 360 ₽ 
                                        tr
                                            td Вырез под мойку
                                            td Снизу столешницы
                                            td 4 000 ₽ 
                                        tr
                                            td Вырез под варочную панель
                                            td Да
                                            td 1 000 ₽ 
                                        tr
                                            td Вырез под смеситель
                                            td Да
                                            td 4 000 ₽ 
                                        tr
                                            td Форма скругления
                                            td Тип Б
                                            td 4 000 ₽ 
                                        tr
                                            td Подставка под горячее
                                            td Да
                                            td 4 000 ₽ 
                                        tr
                                            td Замер
                                            td Да
                                            td Бесплатно
                                        tr
                                            td Доставка
                                            td Да
                                            td 3 000 ₽

                                .options__total-price-wrap
                                    span.options__total-price-text Предварительная стоимость
                                    span.options__total-price-number 94 360 ₽

                                    button.button.calc__button Заказать звонок
                                    button.button.button_gray.calc__button Скачать расчёт в PDF

                    .calc__button-wrap
                        button(data-calc-previous-button = 'services').button.button_arrow-left.calc__button
                            svg
                                use(xlink:href="./assets/images/sprite.svg#button-arrow")
                            span Назад

                .options__size-wrap
                    .options__size.options__size_norm#form-size-norm
                        .options__size-img-wrap
                            img(src="./assets/images/grab.png", alt="").options__size-img    
                        .options__size-arrow-horizon.size-arrow-horizon_bot
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='bot').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end
                        .options__size-arrow-vertical.size-arrow-vertical_left
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='left').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                    .options__size.options__size_g#form-size-g
                        .options__size-img-wrap
                            img(src="./assets/images/grab.png", alt="").options__size-img 

                        .options__size-arrow-horizon.size-arrow-horizon_top
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='top').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end
                            
                        .options__size-arrow-vertical.size-arrow-vertical_right
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='right').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                        .options__size-arrow-horizon.size-arrow-horizon_bot
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='bot-right').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                        .options__size-arrow-vertical.size-arrow-vertical_left
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='left-top').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                    .options__size.options__size_p#form-size-p
                        .options__size-img-wrap
                            img(src="./assets/images/grab.png", alt="").options__size-img 

                        .options__size-arrow-horizon.size-arrow-horizon_top-floor-2
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='top').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end
                        
                        .options__size-arrow-vertical.size-arrow-vertical_right
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='right').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                        .options__size-arrow-horizon.size-arrow-horizon_bot.size-arrow-horizon_bot_2
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='bot-right').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                        .options__size-arrow-vertical.options__size-arrow-vertical_body
                            .size-arrow
                            .size-line
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='body').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                        .options__size-arrow-horizon.size-arrow-horizon_bot.size-arrow-horizon_bot_1
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='bot-left').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end

                        .options__size-arrow-vertical.size-arrow-vertical_left
                            .size-arrow
                            lable.options__size-lable
                                input(type="number" step="1" min="30" max="900" data-form-size='left').options__size-input
                                span.options__size-text см
                            .size-arrow.size-arrow_end
                    
                        .options__size-info
                            span.options__size-info-item Площадь 
                                sapn(data-size-area) 0
                                span.m2 м2


    script(src="assets/scripts/calculator.js")