doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
        link(rel="apple-touch-icon" href="assets/images/fav.png")

        //- link(rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css")
        //- link(rel="stylesheet" type="text/css" href="assets/styles/lightgallery.min.css")

        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")
        
    body
        include ../components/header.pug
        
        main.background-wrap_calc
            .calc
                h1.calc__heading Расчёт стоимости изделия
                #calc-app
                    nav.calc__road-map
                        ol.calc__road-map-list
                            li(v-for="(item, key, index) in roadMap").calc__road-map-item
                                button(@click='roadMapTo(index)', :disabled="item.disabled").calc__road-map-linc {{item.text}}

                    .calc__body-wrap
                        .calc__body(v-show="roadMap.category.visible")
                            .calc__options
                                h2.options__heading {{categoryOptions.category.heading}}
                                .options-input__wrap
                                    .options-input(v-for="input in categoryOptions.category.inputsImg")
                                        input(@change="createSelectOptions(), chooseOption('category', input.value, $event), nextButtonDisabled(categoryOptions, 'category')", :id="'productType' + '-' + input.value", :type="categoryOptions.category.type", :name="'productType'", :value="input.value")
                                        label(:for="'productType' + '-' + input.value", tabindex="1")
                                            .options-input__body
                                                .options-input__radio-chec.options-input__radio_bot
                                                img(:src="urlImg + input.img", :alt="input.text").options-input__img
                                            span.options-input__name {{input.text}}

                            .calc__button-wrap
                                button(@click="roadMapTo(1)", :disabled="roadMap.category.disabledButton").button.calc__button Далее

                        .calc__body(v-for="(item, key, index) in options[selectOptions.category]", v-show="roadMap[key].visible")
                            .calc__options(v-for="(optionItem, optionKey) in item", :class="optionItem.optionsClass")
                                h2(v-if="optionItem.heading").options__heading {{optionItem.heading}}
                                .options-input__wrap
                                    .options-input(v-for="input in optionItem.inputsImg")
                                        input(@change="chooseOption(optionKey, input, $event), nextButtonDisabled(item, key)", :id="optionKey + '-' + input.value", :type="optionItem.type", :name="optionKey", :value="input.value")
                                        label(:for="optionKey + '-' + input.value", tabindex="1")
                                            .options-input__body
                                                .options-input__radio-chec
                                                img(:src="urlImg + input.img", :alt="input.text").options-input__img
                                            span.options-input__name {{input.text}}
                                                span(v-if="input.detail").options__radio-text-gray {{input.detail}}
                                    
                                    label.custom-input(v-for="input in optionItem.inputs")
                                        input(@change="chooseOption(optionKey, input, $event), nextButtonDisabled(item, key)", :type="optionItem.type", :name="optionKey", :value="input.value")
                                        .options-input__radio-chec
                                        span {{input.text}}
                                            span(v-if="input.detail").options__radio-text-gray {{" " + input.detail}}
                                    

                                    .options-input__wrap-row(v-if="optionItem.subInputs")
                                        label.custom-input
                                            input(@change="subInputsDisabled(optionKey, key, $event)", type="checkbox", :name="optionItem.subInputs.value", :value="optionItem.subInputs.value")
                                            .options-input__radio-chec
                                            span {{optionItem.subInputs.text}}
                                                span(v-if="optionItem.subInputs.detail").options__radio-text-gray {{" " + optionItem.subInputs.detail}}
                                        .subcategories-input__wrap(:class="subInputsDisabledList[optionKey] ? 'disabled' : ''")
                                            label(v-for="subInputs in optionItem.subInputs.inputs").custom-input
                                                input(@change="chooseOption(optionKey, subInputs, $event), nextButtonDisabled(item, key)", :disabled="subInputsDisabledList[optionKey]", :checked="subInputsDisabledList[optionKey] ? false : ''", :type="optionItem.type", :name="optionItem.subInputs.value", :value="subInputs.value")
                                                .options-input__radio-chec
                                                span {{subInputs.text}}
                                                    span(v-if="subInputs.detail").options__radio-text-gray {{" " + subInputs.detail}}
                                            
                                            label(v-for="subInputs in optionItem.subInputs.inputNumber").custom-input-number
                                                span {{subInputs.text}}
                                                    span(v-if="subInputs.detail").options__radio-text-gray {{" " + subInputs.detail}}
                                                input(@change="chooseOption(optionKey, subInputs, $event), nextButtonDisabled(item, key)", :disabled="subInputsDisabledList[optionKey]", :value="subInputsDisabledList[optionKey] ? '0' : '0'", type="number", :name="optionItem.subInputs.value", min="0", max="999").options__size-input
                                                span {{subInputs.textInput}}


                            .calc__button-wrap
                                button(@click='roadMapTo(index)').button.button_gray.calc__button Назад
                                button(@click='roadMapTo(index + 2)', :disabled="roadMap[key].disabledButton").button.calc__button Далее

                        .options__size-wrap
                            .options__size.options__size_norm(v-if="optionsSize.visible.formNorm")
                                .options__size-img-wrap
                                    //- .options__size-img-body(:style="border-top-left-radius: 2px; border-bottom-left-radius: 2px; border-bottom-right-radius: 2px;")
                                    .options__size-img-body(:style="rounding")
                                        input(type="checkbox", ).size-img-button.sib_top-left
                                        input(type="checkbox", ).size-img-button.sib_top-right
                                        input(type="checkbox", ).size-img-button.sib_bottom-right
                                        input(type="checkbox", ).size-img-button.sib_bottom-left

                                .options__size-arrow-horizon.size-arrow-horizon_bot
                                    .size-arrow
                                    label.options__size-lable
                                        input(type="number" step="1" min="30" max="900").options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end
                                
                                .options__size-arrow-vertical.size-arrow-vertical_left
                                    .size-arrow
                                    label.options__size-lable
                                        input(type="number" step="1" min="30" max="900").options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                            //- div.options__size.options__size_g
                                .options__size-img-wrap
                                    div(style="border-top-left-radius: 2px; border-top-right-radius: 2px; border-bottom-left-radius: 2px;").options__size-img-body
                                        input(type="checkbox", data-size-radius="border-top-left-radius").size-img-button
                                        input(type="checkbox", data-size-radius="border-top-right-radius").size-img-button
                                        input(type="checkbox", data-size-radius="border-bottom-left-radius").size-img-button

                                    div(style="border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;").options__size-img-bot-right
                                        //- input(type="checkbox", data-size-togle).size-img-button__togle
                                        input(type="checkbox", data-size-radius="border-bottom-left-radius").size-img-button
                                        input(type="checkbox", data-size-radius="border-bottom-right-radius").size-img-button

                                .options__size-arrow-horizon.size-arrow-horizon_top
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='top').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end
                                    
                                .options__size-arrow-vertical.size-arrow-vertical_right
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='right').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                                .options__size-arrow-horizon.size-arrow-horizon_bot
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='bot-right').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                                .options__size-arrow-vertical.size-arrow-vertical_left
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='left-top').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end
                                
                                .options__size-info
                                    span.options__size-info-item Площадь 
                                        sapn(data-size-area) 0 
                                        span.m2 м2
                                    span.options__size-info-prise Предварительная цена 
                                        sapn(data-size-prise) 0 
                                        sapn ₽

                            //- div.options__size.options__size_p
                                .options__size-img-wrap
                                    div(style="border-top-left-radius: 2px; border-top-right-radius: 2px;").options__size-img-body
                                        input(type="checkbox", data-size-radius="border-top-left-radius").size-img-button
                                        input(type="checkbox", data-size-radius="border-top-right-radius").size-img-button

                                    div(style="border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;").options__size-img-bot-right
                                        input(type="checkbox", data-size-radius="border-bottom-left-radius").size-img-button
                                        input(type="checkbox", data-size-radius="border-bottom-right-radius").size-img-button

                                    div(style="border-bottom-right-radius: 2px; border-bottom-left-radius: 2px;").options__size-img-bot-left
                                        input(type="checkbox", data-size-radius="border-bottom-left-radius").size-img-button
                                        input(type="checkbox", data-size-radius="border-bottom-right-radius").size-img-button

                                .options__size-arrow-horizon.size-arrow-horizon_top-floor-2
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='top').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end
                                
                                .options__size-arrow-vertical.size-arrow-vertical_right
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='right').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                                .options__size-arrow-horizon.size-arrow-horizon_bot.size-arrow-horizon_bot_2
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='bot-right').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                                .options__size-arrow-vertical.options__size-arrow-vertical_body
                                    .size-arrow
                                    .size-line
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='body').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                                .options__size-arrow-horizon.size-arrow-horizon_bot.size-arrow-horizon_bot_1
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='bot-left').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end

                                .options__size-arrow-vertical.size-arrow-vertical_left
                                    .size-arrow
                                    lable.options__size-lable
                                        input(type="number" step="1" min="30" max="900" data-form-size='left').options__size-input
                                        span.options__size-text см
                                    .size-arrow.size-arrow_end
                            
                                .options__size-info
                                    span.options__size-info-item Площадь 
                                        sapn(data-size-area) 0 
                                        span.m2 м2
                                    span.options__size-info-prise Предварительная цена 
                                        sapn(data-size-prise) 0 
                                        sapn ₽


        include ../components/footer.pug

        div(data-close-area='burger').close-area
        div(data-close-area='kontacts').close-area

        //- script(src="assets/scripts/vue.min.js")
        script(src="assets/scripts/vue.js")
        //- script(src="assets/scripts/vuex.min.js")
        script(src="assets/scripts/vuex.js")

        script(src="assets/scripts/state.js")
        script(src="assets/scripts/calculator2.js")

        //- script(src="assets/scripts/accordion.min.js")
        //- script(src="assets/scripts/swiper-bundle.min.js")
        //- script(src="assets/scripts/medium-zoom.min.js")
        //- script(src="assets/scripts/lightgallery.min.js")

        script(src="assets/scripts/imask.min.js")
        script(src="assets/scripts/focus-visible.js")

        //- script(src="assets/scripts/main.js")
