doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
        link(rel="apple-touch-icon" href="assets/images/fav.png")

        //- link(rel="stylesheet" type="text/css" href="assets/styles/swiper-bundle.min.css")
        //- link(rel="stylesheet" type="text/css" href="assets/styles/lightgallery.min.css")

        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")
        
    body
        include ../components/header.pug
        
        main.background-wrap_calc
            .calc
                h1.calc__heading Расчёт стоимости изделия
                #calc-app
                    nav.calc__road-map
                        ol.calc__road-map-list
                            li(v-for="(item, index) in roadMap").calc__road-map-item
                                button(@click='roadMapTo(index)', :disabled="item.disabled").calc__road-map-linc {{item.text}}

                    .calc__body-wrap
                        .calc__body(v-for="(item, index) in roadMap", :id="item.id", v-if="item.visible")
                            //- button(@click="roadMapNext(index)") roadMapNext
                            .calc__options(v-for="(option, optionKey) in options[item.id]")
                                h2.options__heading {{option.heading}}
                                .options-input__wrap
                                    .options-input(v-for="input in option.inputs")
                                        input(@change="chooseOption(optionKey, input.value), roadMapNext(optionKey, index)", :id="optionKey + '-' + input.value", :type="input.type", :name="optionKey", :value="input.value", :checked="selectOptions[optionKey] == input.value")
                                        label(:for="optionKey + '-' + input.value", tabindex="1")
                                            .options-input__body
                                                .options-input__radio-chec(:class="input.radioBot ? 'options-input__radio_bot' : ''")
                                                img(:src="'./assets/images/calc-svg/' + input.img", :alt="input.text").options-input__img
                                            span.options-input__name {{input.text}}

                            .calc__button-wrap
                                button(@click='roadMapTo(index - 1)', :disabled="index == 0").button.button_gray.calc__button Назад
                                button(@click='roadMapTo(index + 1)', :disabled="buttonNext(index)").button.calc__button Далее


        include ../components/footer.pug

        div(data-close-area='burger').close-area
        div(data-close-area='kontacts').close-area

        //- script(src="assets/scripts/vue.min.js")
        script(src="assets/scripts/vue.js")
        //- script(src="assets/scripts/vuex.min.js")
        script(src="assets/scripts/vuex.js")

        script(src="assets/scripts/state.js")
        script(src="assets/scripts/calculator2.js")

        //- script(src="assets/scripts/accordion.min.js")
        //- script(src="assets/scripts/swiper-bundle.min.js")
        //- script(src="assets/scripts/medium-zoom.min.js")
        //- script(src="assets/scripts/lightgallery.min.js")

        script(src="assets/scripts/imask.min.js")
        script(src="assets/scripts/focus-visible.js")

        //- script(src="assets/scripts/main.js")
