extends ../template

block variables
    - var title = 'Главная'
    - var contactForm = true

block content
    main
        include ../components/slider-main.pug

        article.seo-block
            p.seo-block__text Изготавливаем по индивидуальному заказу столешницы из камня, подоконники и другие функциональные поверхности для жилых, офисных и общественных помещений. Наша складская программа обладает обширным ассортиментом долговечных покрытий, таких как мрамор, гранит, агломерат, керамика. Мы можем выполнить сложные технические задания по обработке материалов на собствен- ной производственной площадке в черте Санкт-Петербурга. Наши столешницы ориентированы на сложный сценарий использования, сочетают в себе отличные технические и потребительские характеристики

            .seo-block__right
                h3.seo-block__right-h Бесплатный выездменеджера
                p.seo-block__right-text — с образцами камней на объект для составления предварительного расчёта стоимости столешницы
                p.seo-block__right-text-linc Воспользуйтесь заявкой или свяжитесь с нами по телефону 

        article.seo-block2
            img(src="./assets/images/seo.jpg", alt="О.Камень").seo-block2__img

            .seo-block2__text-wrap
                h2.seo-block2__h О.Камень
                p.seo-block2__text На рынке представлено очень много отделочных материалов. Но, несмотря на это, натуральный камень не теряет своей популярности. Компания «О. Камень» не первый год выпускает различные изделия из него. Она высоко востребована во всем Северо-Западном регионе страны. Продажа природного камня для декоративной отделки фасадов, цоколей, мощения дорог, обустройства и оформления земельных участков – основное направление нашей работы
                p.seo-block2__text Отделка и кладка из натурального камня прослужит десятки, а то и сотни лет, чему есть наглядные доказательства в виде многочисленных исторических и архитектурных памятников, которые и по сей день радуют своим величием и красотой


