extends ../template

block variables
    - var title = 'Кварцевый агломерат'
    - var contactForm = true

block content
    main
        nav.bread-crumbs__wrap
            ul.bread-crumbs
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__linc Главная
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__linc Продукция
                li.bread-crumbs__item
                    span(href="#").bread-crumbs__linc Кварцевый агломерат

        h1.h1.page__h1 Кварцевый агломерат

        include ../components/page-slider.pug 

        .seo-block
            .seo-block__text__wrap
                h2.seo-block__h2 Только лучшее качество
                p.seo-block__text Мы реализуем оптом и в розницу большеформатные плиты кварцевого агломерата из Европы, Южной Кореи, Вьетнама и Восточной Азии. Весь материал соответствует ГОСТу и имеет сертификаты качества. Предоставляем услуги по обработке и установке изделийиз кварцевого агломерата по Санкт-Петербургу и области. Средний срок изготовления составляет 10 дней. У большинства поставщиков кварцевого агломерата гарантия на материал составляет 15 лет.

            .seo-block__right
                h3.seo-block__right-h Бесплатный выездменеджера
                p.seo-block__right-text — с образцами камней на объект для составления предварительного расчёта стоимости столешницы
                p.seo-block__right-text-linc Воспользуйтесь заявкой или свяжитесь с нами по <a href="tel:+78123804144">телефону</a>

        .materials
            h2.h2.materials__h2 Доступные материалы
            .materials__list
                .materials__items
                    span.materials__heading Столешницы
                    img(src="./assets/images/purpose-3.png", alt="").materials__img.materials__img_m-20
                    a(href="#").button.materials__button Перейти в раздел
                .materials__items
                    span.materials__heading Подоконники
                    img(src="./assets/images/purpose-2.png", alt="").materials__img.materials__img_m-20
                    a(href="#").button.materials__button Перейти в раздел
                .materials__items
                    span.materials__heading Ступени
                    img(src="./assets/images/purpose-1.png", alt="").materials__img.materials__img_m-20
                    a(href="#").button.materials__button Перейти в раздел

        .catalog
            h2.h2.catalog__h2 Разновидность камня
            .catalog__filter
                .input_prise-wrap
                    label.input_prise-min 
                        span Цена от
                        input(type="text")
                    label.input_prise-max 
                        span до
                        input(type="text")

                select().input.input_select
                    option(value="granit") Желтый
                    option(value="mramor") Красный
                    option(value="mramor") Черный
                
                select().input.input_select
                    option(value="granit") Желтый
                    option(value="mramor") Красный
                    option(value="mramor") Черный
                
                select().input.input_select
                    option(value="granit") Желтый
                    option(value="mramor") Красный
                    option(value="mramor") Черный
                
                button.button.catalog__filter-button Подобрать
            
            ul.catalog-list.catalog__catalog-list 
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-mramor.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-mramor.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-mramor.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-mramor.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-granit.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее
                li.catalog-list__item
                    img(src="./assets/images/material-kvarc.png", alt="Caesarstone 4011 Cloudburst Concrete").catalog-list__img
                    span.catalog-list__name Caesarstone 4011 Cloudburst Concrete
                    span.catalog-list__prise От 111 165 руб.
                    a(href="#").arrow-linc Подробнее

            a(href="#").button.catalog__button Посмотреть все варианты

        .seo-block3
            h2.h2.seo-block3__h2 О кварцевом агломерате
            p.seo-block3__text Гранит начали использовать в качестве стройматериала много веков назад. Он применялся повсеместно при возведении Санкт-Петербурга. А некоторые объекты сохранились и по наше время, что подтверждает долговечность этой породы, ее высокую прочность, устойчивость к механическим повреждениям и климатическим воздействиям. СПб невозможно представить без гранитной Набережной. Из гранита построен Эрмитажный мост, скульптуры атлантов Эрмитажа, Александровская колонна и другие достопримечательности культурной столицы.

        include ../components/our-projects.pug
        
        .cost-calculation
            h2.h2.cost-calculation_h2 Расчёт стоимости изделия

            .cost-calculation__content
                img(src="./assets/images/cost-calculation.png", alt="Расчёт стоимости изделия").cost-calculation__img 
                .cost-calculation__text-wrap
                    p.cost-calculation__text Вы можете с мельчайшими подробностями собрать свою столешницу в нашем калькуляторе и получить предварительный расчет
                    a(href="#").button.cost-calculation__button Рассчитать стоимость изделия


