doctype html
html
    head
        meta(charset="utf-8")
        title #{title}
        meta(content="" name="description")
        meta(content="" name="keywords")
        meta(name="viewport" content="width=device-width, initial-scale=1")
        meta(content="ie=edge" http-equiv="x-ua-compatible")

        link(rel="shortcut icon" href="assets/images/fav.png" type="image/x-icon")
        link(rel="apple-touch-icon" href="assets/images/fav.png")

        link(rel="stylesheet" type="text/css" href="assets/styles/app.css")

    body

        svg(width="160", height="64").header__logo
            use(xlink:href="./assets/images/sprite.svg#logo")

        ul.map
            li
                a(href="index.html") Главная
            li
                a(href="kvarc.html") Кварцевый агломерат
            li
                a(href="product.html") Страница товара
            li
                a(href="stoleshnitsy.html") Столешницы
            li
                a(href="calculator.html") Расчёт стоимости изделия
            li
                a(href="calculator2.html") Расчёт стоимости изделия 2
            li
                a(href="articles-list.html") Статьи
            li
                a(href="article.html") статья=акция
            li
                a(href="akcii.html") Акции
            li
                a(href="onas.html") О нас
            li
                a(href="prise-list.html") Прайс-лист
            li
                a(href="dostavka.html") Доставка и оплата
            li
                a(href="sotr.html") Сотрудничество
            li
                a(href="kontacti.html") Контакты`
            li
                a(href="404.html") 404