extends ../template

block variables
    - var title = 'Текст'
    - var contactForm = true

block content
    main
        .background-wrap
            nav.bread-crumbs__wrap
                ul.bread-crumbs
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Главная
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Продукция
                    li.bread-crumbs__item
                        span(href="#").bread-crumbs__linc Кварцевый агломерат
        
        .background-wrap
            .block-wrap.block-wrap_first
                h1 Финансовый мир очнулся: курс ценных бумаг бодрит
                p Консультация с широким активом предполагает независимые способы реализации существующих финансовых и административных условий. Высокий уровень вовлечения представителей целевой аудитории является четким доказательством простого факта: новая модель организационной деятельности, а также свежий взгляд на привычные вещи - безусловно открывает новые горизонты для стандартных подходов. А ещё активно развивающиеся страны третьего мира неоднозначны и будут ограничены исключительно образом мышления.
                
                ul
                    li Инцидент не исчерпан: чистый разум не скован границами
                    li Главные СМИ предупреждают: ночь оказалась долгой
                    li Финансовый мир очнулся: светлый лик правового взаимодействия бодрит
                    li Независимые СМИ потому и независимы, что преступность никогда не была такой неорганизованной

                h2 Да, обучение кадров - приоритетная задача
                p Предварительные выводы неутешительны: сплочённость команды профессионалов обеспечивает актуальность направлений прогрессивного развития. Элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в равной степени предоставлены сами себе.
                h3 Да, обучение кадров - приоритетная задача
                p Предварительные выводы неутешительны: сплочённость команды профессионалов обеспечивает актуальность направлений прогрессивного развития. Элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в равной степени предоставлены сами себе.
                h4 Да, обучение кадров - приоритетная задача
                p Предварительные выводы неутешительны: сплочённость команды профессионалов обеспечивает актуальность направлений прогрессивного развития. Элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в равной степени предоставлены сами себе.
                h5 Да, обучение кадров - приоритетная задача
                p Предварительные выводы неутешительны: сплочённость команды профессионалов обеспечивает актуальность направлений прогрессивного развития. Элементы политического процесса представляют собой не что иное, как квинтэссенцию победы маркетинга над разумом и должны быть в равной степени предоставлены сами себе.

                ol
                    li Инцидент не исчерпан: чистый разум не скован границами
                    li Главные СМИ предупреждают: ночь оказалась долгой
                    li Финансовый мир очнулся: светлый лик правового взаимодействия бодрит
                    li Независимые СМИ потому и независимы, что преступность никогда не была такой неорганизованной



