extends ../template

block variables
    - var title = 'Сотрудничество'
    - var contactForm = false

block content
    main
        .background-wrap
            nav.bread-crumbs__wrap
                ul.bread-crumbs
                    li.bread-crumbs__item
                        a(href="#").bread-crumbs__linc Главная
                    li.bread-crumbs__item
                        span(href="#").bread-crumbs__linc Сотрудничество
        
        .background-wrap.sotr__background-wrap
            .sotr
                .sotr__main
                    .sotr-item
                        h1.sotr-item_h Сотрудничество
                        p Компания StoneHouse предлагает своим партнерам самые честные и лучшие условия сотрудничества. Мы воплотим в реальность даже самые смелые Ваши проекты. Гарантируем лучший сервис и качество исполнения. 
                        p Мы открытая, молодая, амбициозная компания, готовая внедрять и развивать новые направления в камнеобрабатывающей промышленности. 
                        p Работа с нами подразумевает открытость, честность и взаимовыгодные условия сотрудничества. Ждем Ваших предложений!
                        
                        button(data-control-active='popups3').button.button__ghost.sotr-item__button Заполнить заявку

                    .sotr-item
                        h1.sotr-item_h Поставщики:
                        p Для поставщиков продукции, смежной с направлением деятельности нашей компании, предоставляются следующие условия:
                        
                        ul 
                            li Бесплатная маркетинговая поддержка на всех онлайн ресурсах компании.
                            li Склад ответственного хранения с возможностью доставки вашей продукции конечному потребителю.
                    
                    .sotr-item
                        h1.sotr-item_h Дизайнеры, Архитекторы, Мебельные салоны, Производители мебели:
                        p Все условия обсуждаются в индивидуальном порядке.
                        
                        ul 
                            li Изготовление дэмо образца по себестоимости (с условием заключения договора «О неразглашении информации 3-м лицам»)
                            li Бесплатное обучение персонала по продукции, области ее применения, свойствах и качествах.
                            li Бесплатное предоставление информационных материалов, а также персонального каталога компании Stone House
                            li Бесплатная доставка (при условии эксклюзивного сотрудничества)
                            li Бесплатный замер и чертеж в пределах КАД. (при условии эксклюзивного сотрудничества)
                            li Бесплатный, качественный фотоотчет для Ваших информационных ресурсов.
                            
                    .sotr-item
                        h1.sotr-item_h Застройщики, девелоперы:
                        p Перечисленные условия предоставляются и обсуждаются в индивидуальном порядке.
                        
                        ul 
                            li Замер бесплатно
                            li Доставка бесплатно
                            li Установка бесплатно
                        
                        button(data-control-active='popups3').button.button__ghost.sotr-item__button Заполнить заявку

                .sotr-application_wrap
                    .sotr-application
                        h3.sotr-application__h Заявка на сотрудничество
                        p.sotr-application__text Работа с нами подразумевает открытость, честность и взаимовыгодные условия сотрудничества. Ждем Ваших предложений!

                        button(data-control-active='popups3').button.button__ghost.sotr-application__button Заполнить заявку