extends ../template

block variables
    - var title = 'Столешницы'
    - var contactForm = true

block content
    main
        nav.bread-crumbs__wrap
            ul.bread-crumbs
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__linc Главная
                li.bread-crumbs__item
                    a(href="#").bread-crumbs__linc Продукция
                li.bread-crumbs__item
                    span(href="#").bread-crumbs__linc Кварцевый агломерат

        h1.h2.page__h1 Столешницы

        include ../components/page-slider.pug 

        .seo-block
            .seo-block__text__wrap
                h2.seo-block__h2 Эстетичная элегантность
                p.seo-block__text Мы работаем со всеми типами натурального и искусственного камня: от традиционного гранита и оникса до современных разработок в изготовлении искусственного камня. Используем профессиональный камнеобрабатывающий инструмент и приспособления. Работаем так, чтобы создаваемые изделия были долговечными и удобными в эксплуатации

            .seo-block__right
                h3.seo-block__right-h Бесплатный выездменеджера
                p.seo-block__right-text — с образцами камней на объект для составления предварительного расчёта стоимости столешницы
                p.seo-block__right-text-linc Воспользуйтесь заявкой или свяжитесь с нами по <a href="tel:+78123804144">телефону</a>

        .materials
            h2.h2.materials__h2 Доступные материалы
            .materials__list
                .materials__items
                    img(src="./assets/images/material-granit.png", alt="").materials__img
                    .materials__text-wrap
                        span.materials__name Гранит
                        span.materials__prise от 10 000 руб./<span class="m2">м2</span>
                    a(href="#").button.materials__button Перейти в каталог
                .materials__items
                    img(src="./assets/images/material-kvarc.png", alt="").materials__img
                    .materials__text-wrap
                        span.materials__name Кварцевый агломерат
                        span.materials__prise от 14 000 руб./<span class="m2">м2</span>
                    a(href="#").button.materials__button Перейти в каталог
                .materials__items
                    img(src="./assets/images/material-mramor.png", alt="").materials__img
                    .materials__text-wrap
                        span.materials__name Мрамор
                        span.materials__prise от 12 000 руб./<span class="m2">м2</span>
                    a(href="#").button.materials__button Перейти в каталог

        include ../components/our-projects.pug
        
        .cost-calculation
            h2.h2.cost-calculation_h2 Расчёт стоимости изделия

            .cost-calculation__content
                img(src="./assets/images/cost-calculation.png", alt="Расчёт стоимости изделия").cost-calculation__img 
                .cost-calculation__text-wrap
                    p.cost-calculation__text Вы можете с мельчайшими подробностями собрать свою столешницу в нашем калькуляторе и получить предварительный расчет
                    a(href="#").button.cost-calculation__button Рассчитать стоимость изделия

