#form_norm,
#form_g,
#form_p {
	display: none;
}

// #category,
#form,
#materials,
#parameters,
#notch,
#services,
#total {
	display: none;
}

.calc {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	margin-bottom: var(--block-m-b);
}

.calc__body {
	max-width: 610px;
	width: 100%;
	color: black;
}

.calc__body_total {
	max-width: 100%;
}

.calc__heading {
	font-weight: 600;
	font-size: 48px;
	line-height: 1.17;
	margin: 0 0 48px 0;
}

.options__radio-size {
	display: flex;
	justify-content: space-between;
}

.calc__road-map {
	margin-bottom: 48px;
}

.calc__road-map-list {
	margin: 0;
	padding: 0;
	list-style: none;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 32px;
	width: max-content;
	counter-reset: section;
}

.calc__road-map-item {
	display: flex;
	align-items: baseline;
}

.calc__road-map-linc {
	font-family: $font-Manrope;
	font-weight: 600;
	font-size: 16px;
	line-height: 24px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	cursor: pointer;

	&:disabled {
		opacity: 0.3;
		cursor: default;
	}

	&::before {
		counter-increment: section;
		content: counter(section) ". ";
	}
}

.calc__body-wrap {
	display: flex;
	justify-content: space-between;
}

.options {
	display: flex;
	flex-direction: column;
}
.options__heading {
	font-weight: 500;
	font-size: 18px;
	line-height: 125%;
	margin: 0 0 28px 0;
}

.options-input__wrap {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 44px;
	justify-content: start;
	align-items: start;
}

.options-input__wrap-row {
	display: grid;
	grid-row-gap: 16px;
}

.options-input {
	.options__radio-text-gray {
		display: block;
		margin-top: 2px;
	}

	label {
		display: flex;
		flex-direction: column;
		height: 100%;
		cursor: pointer;
	}
}

.options-input__name {
	font-weight: 500;
	font-size: 18px;
	margin-top: 16px;
	order: 10;
}

.options-input__body {
	display: flex;
	align-items: stretch;
	height: 100%;
	align-self: flex-start;
	order: 10;
}

.options-input__img {
	align-self: flex-start;
	display: block;
}

// .options-input__radio_top {
// 	align-self: flex-start;
// }

.options-input__radio_bot {
	align-self: flex-end;
}

.options-input > input[name="category"] + label .options-input__name {
	margin-top: 0;
	margin-bottom: 24px;
	order: 9;
}
.options-input > input[name="form"] + label .options-input__name {
	margin-top: 0;
	margin-bottom: 16px;
	order: 9;
}

// .options__radio-wrap {
// 	display: flex;
// 	flex-wrap: wrap;
// }

.radio-wrap-border {
	width: 100%;
	height: 1px;
	background-color: $color-gold;
	margin: 48px 0;
	opacity: 0.3;

	&:last-child {
		margin-bottom: 0;
	}
}

.radio-wrap-border-s,
.radio-wrap-border-s_60 {
	height: 1px;
	background-color: $color-dark-gray;

	&:last-child {
		margin-bottom: 0;
	}
}

.radio-wrap-border-s {
	width: 100%;
	margin: 40px 0;
}

.radio-wrap-border-s_60 {
	width: 60%;
	margin: 16px 0;
}

.options__radio {
	input[type="radio"] {
		display: none;

		&:checked + label::after {
			background-color: $color-gold;
		}
	}

	label {
		position: relative;
		display: flex;
		flex-direction: column;
		font-weight: 500;
		font-size: 18px;
		line-height: 24px;
	}

	label::before,
	label::after {
		content: "";
		position: absolute;
		bottom: 40%;
		transform: translateY(50%);
		box-sizing: border-box;
	}

	label::before {
		width: 16px;
		height: 16px;
		border-radius: 16px;
		background-color: transparent;
		border: 1px solid $color-black;
	}

	label::after {
		width: 10px;
		height: 10px;
		border-radius: 10px;
		margin: 0 3px;
		transition: background-color 150ms ease-in-out 0ms;
	}
}

// .options__radio-img-l-wrap {
// 	margin-right: -45px;
// }

// .options__radio-img-l {
// 	margin-right: 45px;

// 	&:last-child {
// 		margin-right: 0;
// 	}

// 	label::before,
// 	label::after {
// 		left: 0;
// 		bottom: 50%;
// 	}

// 	input[name="category"] + label::before,
// 	input[name="category"] + label::after {
// 		bottom: 10%;
// 	}

// 	.options__radio-img {
// 		width: 146px;
// 		height: 100px;
// 		margin-left: 34px;

// 		img {
// 			width: 100%;
// 			height: auto;
// 		}
// 	}

// 	.options__radio-text {
// 		margin-bottom: 24px;
// 	}

// 	.options__radio-text-bot {
// 		margin-top: 28px;
// 		text-transform: uppercase;
// 	}

// 	.img-rounding {
// 		width: 127px;
// 		height: 56px;
// 	}
// }

// .options__radio-img-m {
// 	margin-right: 100px;

// 	&:last-child {
// 		margin-right: 0;
// 	}

// 	.options__radio-text {
// 		margin-bottom: 12px;
// 	}

// 	.options__radio-img-wrap {
// 		margin-left: 32px;
// 	}

// 	.options__radio-img {
// 		height: 72px;
// 		background-image: url("../images/form.png");
// 		background-position: 0 0;
// 		background-repeat: repeat;
// 		background-color: #b6a691;
// 		border: 1px solid $color-dark-gray;
// 		width: 24px;
// 		position: relative;

// 		&::after,
// 		&::before {
// 			position: absolute;
// 			background-image: url("../images/form.png");
// 			background-repeat: repeat;
// 			background-color: #b6a691;
// 			border: 1px solid $color-dark-gray;
// 			border-left: 0;
// 			left: 22px;
// 			width: 21px;
// 			height: 20px;
// 		}
// 	}

// 	label::before,
// 	label::after {
// 		bottom: 33%;
// 	}
// }

// .options__radio-wrap-s {
// 	margin-right: -40px;
// 	margin-bottom: -32px;
// }

// .options__radio-img-s {
// 	margin-right: 40px;
// 	margin-bottom: 32px;

// 	.options__radio-img {
// 		width: 74px;
// 		height: 42px;
// 		margin-left: 36px;
// 	}

// 	label::before,
// 	label::after {
// 		bottom: 70%;
// 		left: 0;
// 	}

// 	.options__radio-text {
// 		font-weight: 500;
// 		font-size: 18px;
// 		line-height: 125%;
// 		text-transform: uppercase;
// 		margin-top: 12px;
// 	}
// }

.calc__button-wrap {
	margin-top: 100px;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	width: max-content;
}

.options__radio-text-gray {
	font-family: $font-Manrope;
	font-weight: normal;
	font-size: 14px;
	line-height: 125%;
	color: $color-dark-gray;
	text-transform: none;
}

.options__radio-wrap_height {
	margin-right: -48px;

	.checkbox-button,
	.radio-button {
		font-size: 18px;
		line-height: 24px;
		margin-right: 48px;
	}
}

// Столешница
.options__size-wrap {
	// display: none;
}

.options__size {
	position: relative;
	width: 380px;
	height: 230px;
	margin: 60px;
}

.options__size_norm {
	height: 120px;

	.options__size-img-body {
		border-top-left-radius: var(--form-rounding);
		border-top-right-radius: var(--form-rounding);
		border-bottom-right-radius: var(--form-rounding);
		border-bottom-left-radius: var(--form-rounding);
	}
}

.options__size_g {
	.size-arrow-horizon_bot {
		left: 245px;
	}
	.size-arrow-vertical_left {
		bottom: calc(100% - 120px);
	}

	.options__size-img-body {
		border-top-left-radius: var(--form-rounding);
		border-top-right-radius: var(--form-rounding);
		border-bottom-left-radius: var(--form-rounding);
	}

	.options__size-img-bot-right {
		border-bottom-right-radius: var(--form-rounding);
		border-bottom-left-radius: var(--form-rounding);
	}
}

.options__size_p {
	margin-top: 112px;

	.size-arrow-horizon_bot_1 {
		right: 245px;
	}

	.size-arrow-horizon_bot_2 {
		left: 245px;
	}

	.options__size-img-body {
		border-top-left-radius: var(--form-rounding);
		border-top-right-radius: var(--form-rounding);
	}

	.options__size-img-bot-right {
		border-bottom-right-radius: var(--form-rounding);
		border-bottom-left-radius: var(--form-rounding);
	}

	.options__size-img-bot-left {
		border-bottom-right-radius: var(--form-rounding);
		border-bottom-left-radius: var(--form-rounding);
	}
}

:root {
	--form-rounding: 40px;
}

.options__size-img-wrap {
	width: 100%;
	height: 100%;
	filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.2));
	position: relative;
}

.options__size-img-body {
	background-image: url("../images/grab.png");
	background-position: 0 0;
	position: absolute;
	top: 0;
	right: 0;
	left: 0;
	height: 120px;
}

.options__size-img-bot-right {
	background-image: url("../images/grab.png");
	background-position: -245px -120px;
	position: absolute;
	top: 120px;
	right: 0;
	left: 245px;
	bottom: 0;
}

.options__size-img-bot-left {
	background-image: url("../images/grab.png");
	background-position: 0 -120px;
	position: absolute;
	top: 120px;
	right: 245px;
	left: 0;
	bottom: 0;
}

.options__size-img-bot-right,
.options__size-img-bot-left,
.options__size-img-body {
	background-color: #bba281;
	transition: 300ms ease-in-out 0ms;
	transition-property: left, right, background-position-x, border-radius;
}

.options__size-img-bot_left {
	background-position-x: 0;
	right: 245px;
	left: 0;
}

.size-img-button {
	width: 40px;
	height: 40px;
	border: 0;
	margin: 0;
	padding: 0;
	background-color: transparent;
	position: absolute;
	cursor: pointer;
	appearance: none;
	overflow: hidden;
	display: none;

	&::before {
		content: "";
		display: block;
		width: 100%;
		height: 100%;
		background-color: rgba(255, 255, 255, 0.01);
		box-shadow: 0 0 45px 10px #ffffff;
		transition: opacity 150ms ease-in 0ms;
		opacity: 0;
	}

	&:hover::before {
		opacity: 1;
	}
}

.size-img-button_animat::before {
	animation: size-img-button 800ms ease-in-out 0ms infinite alternate;
	box-shadow: 0 0 35px 20px #ffffff;
}
@keyframes size-img-button {
	0% {
		opacity: 1;
	}

	100% {
		opacity: 0;
	}
}

.size-img-button[data-size-radius="border-top-left-radius"] {
	top: 0;
	left: 0;

	&::before {
		border-top-left-radius: var(--form-rounding);
	}
}
.size-img-button[data-size-radius="border-top-right-radius"] {
	top: 0;
	right: 0;

	&::before {
		border-top-right-radius: var(--form-rounding);
	}
}
.size-img-button[data-size-radius="border-bottom-left-radius"] {
	bottom: 0;
	left: 0;

	&::before {
		border-bottom-left-radius: var(--form-rounding);
	}
}
.size-img-button[data-size-radius="border-bottom-right-radius"] {
	bottom: 0;
	right: 0;

	&::before {
		border-bottom-right-radius: var(--form-rounding);
	}
}

.options__size-arrow-horizon {
	display: flex;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	left: 0;
	right: 0;

	&::before,
	&::after {
		content: "";
		background-color: $color-black;
		width: 1px;
		height: 48px;
		flex-shrink: 0;
	}
}

.options__size-arrow-vertical {
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	align-items: center;
	position: absolute;
	top: 0;
	bottom: 0;

	&::before,
	&::after {
		content: "";
		background-color: $color-black;
		width: 48px;
		height: 1px;
		flex-shrink: 0;
	}

	.size-arrow {
		background-image: url("../images/sprite.svg#arrow-vertical");
		background-position: top center;
		background-size: 201px;
		background-repeat: no-repeat;
		width: 7px;
		height: 100%;
		margin: 8px 0;
	}

	.options__size-lable {
		position: relative;
		margin-right: 0;
		margin-left: 0;
	}

	.options__size-text {
		position: absolute;
		left: 100%;
	}
}

.size-arrow-vertical_left {
	left: -60px;

	.options__size-text {
		left: auto;
		right: 100%;
		margin-left: 0;
		margin-right: 8px;
	}
}

.size-arrow-vertical_right {
	right: -60px;
}

.options__size-arrow-vertical_body {
	bottom: calc(100% - 120px);
	left: 50%;
	transform: translateX(-50%);

	.size-arrow {
		position: absolute;
		top: 100%;
		height: 20px;
	}

	.size-arrow_end {
		top: auto;
		bottom: 100%;
	}

	.options__size-lable {
		position: absolute;
		top: calc(100% + 34px);
	}

	.size-line {
		width: 1px;
		height: 100%;
		background-color: $color-black;
	}
}

.size-arrow-horizon_top {
	top: -60px;
}

.size-arrow-horizon_bot {
	bottom: -60px;
}

.size-arrow-horizon_top-floor-2 {
	height: 48px;
	top: -108px;

	&::before,
	&::after {
		height: 96px;
		transform: translateY(24px);
	}
}

.size-arrow {
	background-image: url("../images/sprite.svg#arrow-horizon");
	background-position: left center;
	background-size: 201px;
	background-repeat: no-repeat;
	width: 100%;
	height: 7px;
	margin: 0 8px;
}

.size-arrow_end {
	transform: rotate(180deg);
}

.options__size-info {
	font-family: $font-Manrope;
	font-weight: 500;
	margin-top: 75px;
	font-size: 16px;
	color: $color-dark-gray;

	[data-size-area] {
		color: $color-black;
	}
}

// Столешница end

.options__size-lable {
	display: flex;
	align-items: center;
	margin: 4px;
}

.form-error {
	font-size: 14px;
	line-height: 1.2;
	color: $color-white;
	position: absolute;
	top: 100%;
	right: 50%;
	transform: translateX(50%);
	margin-top: -8px;
	padding: 6px 8px;
	background-color: #926a31;
	border-radius: 4px;
	max-width: 250px;
	min-width: max-content;
	z-index: 1;
}

.warnings-fillets {
	top: 25%;
}

.options__size-input[data-form-size="right"] ~ .options__size-error {
	top: 32px;
	right: -25px;
	transform: translateX(0);
}

.options__size-input[data-form-size="left"] ~ .options__size-error {
	top: 32px;
	right: auto;
	left: -25px;
	transform: translateX(0);
}

.options__size-input {
	border: 1px solid $color-dark-gray;
	box-sizing: border-box;
	border-radius: 3px;
	width: 48px;
	height: 20px;
	background-color: transparent;
	font-family: $font-Spectral;
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	text-align: center;
	padding: 0;
}

.options__size-min-error {
	border: 1px solid #9e2f2f;
	color: #9e2f2f;
	animation: 800ms ease-in-out infinite alternate;
	animation-name: minerror;
}

@keyframes minerror {
	from {
		box-shadow: 0 0 1px #9e2f2f;
	}

	to {
		box-shadow: 0 0 8px #d13030;
	}
}

.options__size-text {
	font-weight: normal;
	font-size: 14px;
	line-height: 16px;
	margin-left: 8px;
}

.options__select {
	margin-bottom: 8px;

	&:last-of-type {
		margin-bottom: 24px;
	}
}

.options__materials-heading {
	font-weight: 500;
	font-size: 14px;
	line-height: 125%;
	margin: 0 0 12px 0;
}

.options__materials-wrap {
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-gap: 12px;
}

.options__materials {
	input {
		display: none;

		&:checked + label::before {
			background-color: $color-gold;
			border-color: $color-white;
		}
	}

	label {
		display: flex;
		flex-direction: column;
		position: relative;
		cursor: pointer;

		&::before {
			position: absolute;
			content: "";
			right: 6px;
			top: 6px;
			width: 16px;
			height: 16px;
			border-radius: 16px;
			border: 4px solid transparent;
			box-sizing: border-box;
		}
	}
}

.options__materials-img {
	width: 100%;
	height: auto;
	object-fit: cover;
	margin-bottom: 4px;
}

.options__materials-name {
	font-family: $font-Manrope;
	color: $color-dark-blue;
	font-weight: 500;
	font-size: 12px;
	line-height: 1.2;
	margin-bottom: 4px;
	display: block;
}

.options__materials-price {
	color: $color-dark-gray;
	font-size: 14px;
	line-height: 1.2;
}

.options__rounding-range-wrap {
	color: $color-dark-gray;
	margin-top: 32px;
	font-family: $font-Manrope;

	#rounding-number-text {
		color: $color-black;
	}
	// opacity: 0.3;

	// .options__heading {
	// 	margin-bottom: 8px;
	// }

	// .options__rounding-range {
	// 	width: 100%;
	// 	max-width: 420px;
	// }
}

.options__checkbox-button,
.options__radio-button,
.options__more-input-wrap {
	margin-bottom: 16px;

	&:last-child {
		margin-bottom: 0;
	}
}

.options__more-input-wrap {
	margin-left: 22px;

	:checked .options__radio-button {
		margin-bottom: 12px;
	}
}

.options__total-main-options-wrap {
	display: flex;
	justify-content: space-between;
}

.options__total-main-options {
	display: flex;
	flex-direction: column;
}

.options__total-main-options-heading {
	font-weight: 600;
	margin-bottom: 8px;
}

.options__options-price-wrap {
	display: flex;
	justify-content: space-between;
}

.options__total-options-table {
	width: 100%;
	margin-right: 60px;

	table {
		width: 100%;
		border-collapse: collapse;
	}

	tr:hover {
		background-color: #e0e0e0;
	}

	td {
		padding: 8px 4px;
	}

	.options__total-options-head {
		font-family: $font-Manrope;
		font-weight: 600;

		// td {
		// 	padding: 0 0 8px 0;
		// }
	}
}

.options__total-price-wrap {
	width: 100%;
	max-width: 440px;
	padding: 24px;
	display: flex;
	flex-direction: column;
	align-items: center;
	background-color: $color-white;

	.button {
		width: 100%;
		margin-bottom: 8px;

		&:last-child {
			margin-bottom: 0;
		}
	}
}

.options__total-price-text {
	font-family: $font-Manrope;
	font-weight: 600;
	font-size: 24px;
	line-height: 133%;
	text-align: center;
	margin-bottom: 56px;
}

.options__total-price-number {
	font-weight: bold;
	font-size: 28px;
	line-height: 114%;
	text-align: center;
	padding-bottom: 12px;
	border-bottom: 1px solid $color-gold;
	width: 100%;
	max-width: 290px;
	margin-bottom: 50px;
}
