// bread-crumbs
.bread-crumbs__wrap {
	width: 100%;
	max-width: var(--content-max-weight);
}

.bread-crumbs {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 12px;
	justify-content: start;
	list-style: none;
	padding: 0;
	margin: 0 0 60px 0;
}

.bread-crumbs__item {
	display: flex;

	&::after {
		margin-left: 12px;
		margin-top: 1px;
		transform: rotate(180deg);
		content: "";
		width: 16px;
		height: 16px;
		background-color: $color-black;
		mask: url("../images/sprite.svg#arrow-mask");
		mask-repeat: no-repeat;
		mask-position: center left;
		mask-size: 26px;
	}

	&:last-child::after {
		content: none;
	}
}

.bread-crumbs__linc {
	font-family: $font-Manrope;
	font-size: 14px;
	color: $color-black;
}

// .page__h1
.page__h1 {
	width: 100%;
	max-width: var(--content-max-weight);
	margin: 0 0 44px 0;
}

// materials
.materials {
	width: 100%;
	max-width: var(--content-max-weight);
	margin-bottom: 176px;
}

.materials__h2 {
	margin: 0 0 40px 0;
}

.materials__list {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-column-gap: 16px;
	grid-row-gap: 32px;
}

.materials__heading {
	font-family: $font-Manrope;
	font-weight: 600;
	font-size: 20px;
	margin-bottom: 14px;
	display: block;
}

.materials__img {
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
	border-radius: 3px;
	margin-bottom: 8px;
	width: 100%;
	height: 145px;
	object-fit: cover;
	display: block;
}

.materials__img_m-20 {
	margin-bottom: 20px;
}

.materials__text-wrap {
	font-family: $font-Manrope;
	font-weight: bold;
	margin-bottom: 16px;
}

.materials__prise {
	font-size: 14px;
	margin-left: 8px;
}

.materials__button {
	height: 32px;
}

// cost-calculation
.cost-calculation {
	width: 100%;
	max-width: var(--content-max-weight);
	margin-bottom: 176px;
}

.cost-calculation_h2 {
	margin: 0 0 40px 0;
}

.cost-calculation__content {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-column-gap: 84px;
}

.cost-calculation__img {
	object-fit: cover;
	width: 100%;
	height: 210px;
}

.cost-calculation__text-wrap {
	align-self: center;
}

.cost-calculation__text {
	font-size: 24px;
	margin: 0 0 20px 0;
}

.cost-calculation__button {
	width: 100%;
}

// catalog-list
.catalog-list {
	width: 100%;
	list-style: none;
	margin: 0;
	padding: 0;
	display: grid;
	grid-template-columns: repeat(5, 1fr);
	grid-column-gap: 8px;
	grid-row-gap: 16px;
}

.catalog-list__item {
	display: flex;
	flex-direction: column;

	.arrow-linc {
		font-size: 14px;

		&::after {
			margin-top: 1px;
		}
	}
}

.catalog-list__img {
	width: 100%;
	height: 140px;
	margin-bottom: 8px;
	object-fit: cover;
}

.catalog-list__name {
	font-family: $font-Manrope;
	font-weight: bold;
	font-size: 14px;
	line-height: 1.14;
	color: $color-dark-blue;
	margin-bottom: 12px;
}

.catalog-list__prise {
	font-family: $font-Manrope;
	color: $color-dark-gray;
	margin-bottom: 16px;
}

// catalog
.catalog {
	width: 100%;
	max-width: var(--content-max-weight);
	margin-bottom: 176px;
	display: flex;
	flex-direction: column;
}

.catalog__h2 {
	margin: 0 0 28px 0;
}

.catalog__filter {
	display: flex;
	margin-bottom: 28px;

	.input_prise-wrap {
		margin-right: 8px;
	}

	.input {
		flex-grow: 1;
		margin-right: 8px;
	}

	.input_prise-wrap {
		flex-grow: 0;
	}
}

.catalog__filter-button {
	height: 40px;
}

.catalog__catalog-list {
	margin-bottom: 64px;
}

.catalog__button {
	align-self: center;
}

// product
.product-card {
	width: 100%;
	max-width: var(--content-max-weight);
	display: flex;
	margin-bottom: 76px;
}

.product-card__info {
	display: flex;
	flex-direction: column;
}

.product-card__img {
	object-fit: cover;
	margin-right: 72px;
	box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
}

.product-card__name {
	font-weight: 600;
	font-size: 28px;
	line-height: 1.14;
	color: $color-dark-blue;
	margin: 0 0 12px 0;
}

.product-card__art {
	font-size: 14px;
	font-family: $font-Manrope;
	margin-bottom: 48px;
}

.product-card__radio-wrap {
	display: grid;
	grid-row-gap: 16px;
	margin-bottom: 40px;
}

.product-card__radio {
	font-family: $font-Manrope;
	font-size: 18px;
}

.product-card__feature-wrap {
	display: grid;
	grid-row-gap: 8px;
	margin-bottom: 68px;
}

.product-card__feature {
	font-family: $font-Manrope;
	font-weight: bold;

	span {
		font-weight: normal;
	}
}

.product-tab {
	width: 100%;
	max-width: var(--content-max-weight);
	margin-bottom: 176px;
}

.product-tab__button-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 68px;
	justify-content: start;
	padding: 24px 0;
	border-top: 1px solid transparentize($color-gold, 0.7);
	border-bottom: 1px solid transparentize($color-gold, 0.7);
	margin-bottom: 32px;
	width: 100%;
}

.product-tab__tab {
	display: none;
	&:first-child {
		display: block;
	}
}
