:root {
	// Размеры
	--content-max-weight: 1240px;
}

// Цвета
$color-black: #161615;
$color-dark-gray: #4f4f4f;
$color-dark-lite: #989898;
$color-dark-blue: #293f54;
$color-gray: #e8e8e8;
$color-white: #ffffff;
$color-gold: #b0894e;
$color-bronze: #926a31;
$color-bek: #f2f2f2;

// Шрифты
$font-Manrope: "Manrope", sans-serif;
$font-Spectral: "Spectral", serif;

// Анимация
@mixin transition($property: all) {
	transition: 150ms ease-in-out 0ms;
	transition-property: $property;
}

@import "./common/fonts.scss";

* {
	box-sizing: border-box;
	outline-offset: 4px;
}

// https://github.com/WICG/focus-visible
.js-focus-visible :focus:not(.focus-visible) {
	outline: none;
}

body {
	padding: 0;
	margin: 0;
	font-family: $font-Spectral;
	font-style: normal;
	font-weight: normal;
	font-size: 18px;
	line-height: 1.33;
	background: $color-bek;
	color: $color-black;

	main {
		display: flex;
		flex-direction: column;
		align-items: center;
		overflow: hidden;
	}
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-family: $font-Manrope;
}

a {
	color: $color-bronze;
	text-decoration: none;

	&:hover {
		text-decoration: underline;
	}
}

.m2 {
	font-feature-settings: "numr" on;
}

.h2 {
	font-weight: bold;
	font-size: 40px;
	line-height: 1.2;
}

// Кнопки
.button {
	font-family: $font-Manrope;
	font-weight: 500;
	font-size: 14px;
	line-height: 24px;
	height: 46px;
	padding: 0 24px;
	margin: 0;
	min-width: 144px;
	border: 0px;
	border-radius: 3px;
	background-color: $color-gold;
	color: $color-white;
	cursor: pointer;
	display: inline-flex;
	align-items: center;
	justify-content: center;
	text-align: center;
	text-decoration: none;
	min-width: 190px;

	&:disabled {
		cursor: default;
		opacity: 0.7;
	}

	&:hover {
		text-decoration: none;
		background-color: lighten($color-gold, 5%);
	}
}

.button__ghost {
	border: 1px solid $color-gold;
	background-color: transparent;
	color: $color-black;

	&:hover {
		border-color: lighten($color-gold, 5%);
	}
}

.button_gray {
	background-color: #acacac;
}

.button_arrow-left {
	background-color: transparent;
	color: $color-dark-gray;
	padding: 0;
	min-width: auto;

	svg {
		width: 25px;
		height: 8px;
	}
}

.button_arrow-left {
	svg {
		margin-right: 16px;
	}
}

.arrow-linc {
	font-family: $font-Manrope;
	column-rule: $color-bronze;
	font-weight: 600;
	display: flex;
	align-items: center;

	&::after {
		margin-left: 12px;
		margin-top: 3px;
		transform: rotate(180deg);
		content: "";
		width: 26px;
		height: 8px;
		background-color: $color-bronze;
		mask: url("../images/sprite.svg#arrow-mask");
		mask-repeat: no-repeat;
		mask-position: center;
		mask-size: 26px;
	}
}

// input
.input {
	height: 40px;
	padding: 0 18px;
	border: 1px solid $color-dark-gray;
	border-radius: 3px;
	background-color: transparent;
	margin: 0;
	font-family: $font-Manrope;
	font-weight: normal;
	font-size: 14px;
	line-height: 125%;
}

.input_select {
	appearance: none;
	background-image: url("../images/sprite.svg#select-arrow");
	background-repeat: no-repeat;
	background-position: calc(100% - 10px) center;
	background-size: 14px;
	padding-right: 32px;
}

.input_contact {
	border: 1px solid $color-white;
	background-color: $color-white;

	&:focus {
		border-color: #c0c0c0;
		outline: none;
	}
}

.input_contact_invalid {
	border-color: #c03030;
}

textarea.input_contact {
	padding-top: 12px;
	padding-bottom: 12px;
}

.input-file {
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: transparent;
	height: 44px;
	border-radius: 3px;
	border: 1px dashed rgba(22, 22, 21, 0.3);
	cursor: pointer;

	> span {
		display: flex;
		align-items: center;
		font-family: $font-Manrope;
		font-size: 12px;
		line-height: 125%;

		&::before {
			content: "";
			background: url("../images/sprite.svg#icon-unload") no-repeat center;
			margin-right: 16px;
			width: 23px;
			height: 20px;
		}
	}

	> input {
		position: absolute;
		visibility: hidden;
	}
}

.checkbox-button,
.radio-button {
	display: flex;
	align-items: center;
	font-weight: normal;
	font-size: 16px;
	line-height: 125%;

	input {
		visibility: hidden;
		position: relative;
		margin: 0;
		padding: 0;
		width: 16px;
		height: 16px;
		margin-right: 12px;

		&::before,
		&::after {
			content: "";
			visibility: visible;
			position: absolute;
			bottom: 50%;
			transform: translateY(50%);
			box-sizing: border-box;
		}

		&::before {
			width: 16px;
			height: 16px;
			background-color: transparent;
			border: 1px solid $color-black;
		}

		&::after {
			width: 10px;
			height: 10px;
			margin: 0 3px;
			transition: background-color 150ms ease-in-out 0ms;
		}

		&:checked::after {
			background-color: $color-gold;
		}
	}
}

.checkbox-button input {
	&::before {
		border-radius: 3px;
	}
	&::after {
		border-radius: 1px;
	}
}
.radio-button input {
	&::before {
		border-radius: 16px;
	}
	&::after {
		border-radius: 10px;
	}
}

.range {
	height: 2px;
	margin: 0;
	padding: 0;
	cursor: pointer;
	background-color: #b9b9b9;
	appearance: none;

	&:disabled {
		cursor: default;
	}

	&:hover::-moz-range-thumb {
		background-color: $color-bronze;
	}
	&:hover::-webkit-slider-thumb {
		background-color: $color-bronze;
	}
	// &:focus::-moz-range-thumb {
	// 	background-color: $color-neutral;
	// }
	// &:focus::-webkit-slider-thumb {
	// 	background-color: $color-neutral;
	// }

	&::-webkit-slider-thumb {
		width: 16px;
		height: 16px;
		transition: background-color 200ms ease-in-out 0ms;
		border: none;
		border-radius: 16px;
		background-color: $color-gold;
		box-shadow: 0px 1px 10px rgba(16, 42, 67, 0.15);
		appearance: none;
	}
	&::-moz-range-thumb {
		width: 16px;
		height: 16px;
		transition: background-color 200ms ease-in-out 0ms;
		border: none;
		border-radius: 16px;
		background-color: $color-gold;
		box-shadow: 0px 1px 10px rgba(16, 42, 67, 0.15);
		appearance: none;
	}
}

.range-nick {
	width: 100%;
}

.range-nick-wrpa {
	list-style: none;
	margin: 2px 0 0 0;
	padding: 0 7px;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	width: 100%;
}

.range-nick-item {
	display: flex;
	flex-direction: column;
	align-items: center;
	width: 1px;
	font-size: 14px;
	text-align: center;
	columns: $color-dark-gray;
	cursor: default;
}

@import "./common/header.scss";

@import "./common/slider.scss";

@import "./pages/calculator.scss";
@import "./pages/index.scss";
@import "./pages/page.scss";
@import "./common/our-projects.scss";

@import "./common/contact.scss";
@import "./common/footer.scss";

// @media screen and (max-width: 1344px) {

// }

// @media screen and (max-width: 960px) {

// }

// @media screen and (max-width: 768px) {

// }
