.cost-calculation
    h2.h2.cost-calculation_h2 Расчёт стоимости изделия

    .cost-calculation__content
        img(src="./assets/images/cost-calculation.png", alt="Расчёт стоимости изделия").cost-calculation__img 
        .cost-calculation__text-wrap
            p.cost-calculation__text Вы можете с мельчайшими подробностями собрать свою столешницу в нашем калькуляторе и получить предварительный расчет
            a(href="#").button.cost-calculation__button Рассчитать стоимость изделия

