footer.footer__wrap
    .footer
        .footer__body
            .footer__body-infa
                a(href="#").footer__body-infa-logo
                    svg(width="223", height="50")
                        use(xlink:href="./assets/images/sprite.svg#logo")
                span.footer__body-infa-text.text_bold ООО "О.КАМЕНЬ"
                span.footer__body-infa-text ИНН 7841073240 
                span.footer__body-infa-text КПП 784101001
                span.footer__body-infa-text ОГРН 1187847108350
                span.footer__body-infa-text.text_bold Цены и услуги представленные на сайте не являются публичной офертой.

            nav.footer__body-meny
                ul.footer__body-meny-list
                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc О нас
                        ul
                            li
                                a(href="#") Выполненные проекты
                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc Продукция
                        ul
                            li
                                a(href="#") Столешницы
                            li
                                a(href="#") Ступени
                            li
                                a(href="#") Подоконники
                            li
                                a(href="#") Ресепшн (барные стойки)
                            li
                                a(href="#") Камины (биокамины)
                            li
                                a(href="#") Облицовочная плитка
                            li
                                a(href="#") Эксклюзивные изделия

                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc Материалы
                        ul
                            li
                                a(href="#") Кварцевый агломерат
                            li
                                a(href="#") Гранит
                            li
                                a(href="#") Мрамор
                            li
                                a(href="#") Оникс

                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc Акции
                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc Сотрудничество 
                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc Калькулятор стоимости
                    li.footer__body-meny-item
                        a(href="#").footer__body-meny-linc Контакты 

            .footer__body-text-social
                a(href="tel:+78123452312").footer__body-tel +7 812 345 23 12
                a(href="mailto:okamen@info.ru").footer__body-mail okamen@info.ru
                .footer__body-social-wrap
                    span.footer__body-social-text Мы в соцсетях:
                    .footer__body-social
                        a(href="#").footer__body-social-linc
                            svg.icon-insta
                                use(xlink:href="./assets/images/sprite.svg#icon-insta")
                        a(href="#").footer__body-social-linc    
                            svg.icon-vk
                                use(xlink:href="./assets/images/sprite.svg#icon-vk")
                        a(href="#").footer__body-social-linc
                            svg.icon-yuotube
                                use(xlink:href="./assets/images/sprite.svg#icon-yuotube")
                        a(href="#").footer__body-social-linc
                            svg.icon-facebook
                                use(xlink:href="./assets/images/sprite.svg#icon-facebook")
                
                .footer__body-social-wrap.footer__pay
                    span.footer__body-social-text Принимаем к оплате:
                    .footer__body-social
                        svg(width="50", height="32")
                            use(xlink:href="./assets/images/sprite.svg#visa-logo")
                        svg(width="52", height="32")
                            use(xlink:href="./assets/images/sprite.svg#mc-logo")
                        svg(width="57", height="32")
                            use(xlink:href="./assets/images/sprite.svg#mir-logo")


        .footer__bot
            span.footer__bot-item
                a(href="#") Правовая информация
            span.footer__bot-item.footer__bot-item_ra Сделано в 
                a(href="#") RA-Studio

.popup__wrap(data-block-active="popup1")
    .popup__clouse-area(data-control-active="popup1")
    .popup
        button.popup__clouse(data-control-active="popup1")
        .popup__h Запишитесь на бесплатную консультацию
        form.popup__form
            input(type="text", name="name" placeholder="Имя").input.input_contact
            input(type="tel", name="tel" placeholder="Телефон", required).input.input_contact
            textarea(name="message" placeholder="Сообщение").input.input_contact.contact__input-textarea
            select(name="contact-product").input.input_contact.input_select
                option(value="stol") Столешница
                option(value="podocnom") Подоконник
                option(value="lesnica") Лестница 
            button(type="submit", data-control-active="popup2" data-control-clouse="popup1").button.popup__button Отправить
            .contact__conf Отправляя личные данные, Вы соглашаетесь с политикой конфиденциальности

.popup__wrap(data-block-active="popups3")
    .popup__clouse-area(data-control-active="popups3")
    .popup
        button.popup__clouse(data-control-active="popups3")
        .popup__h Оставить заявку на сотрудничество
        p.popup__text Мы воплотим в реальность даже самые смелые Ваши проекты
        form.popup__form
            input(type="text", name="name" placeholder="Имя").input.input_contact
            input(type="tel", name="tel" placeholder="Телефон", required).input.input_contact
            textarea(name="message" placeholder="Сообщение").input.input_contact.contact__input-textarea
            label.input-file
                //- span Загрузите файл (по желанию)
                span Загрузите файл (.jpg .png .pdf .xls .csd)
                input(type="file", name="file" onchange='uploadFile(this)' accept=".jpg, .jpeg, .png, .pdf, .xls, .csd")

            button(type="submit", data-control-active="popups3" data-control-clouse="popup1").button.popup__button Отправить
            .contact__conf Отправляя личные данные, Вы соглашаетесь с политикой конфиденциальности

.popup__wrap(data-block-active="popup2")
    .popup__clouse-area(data-control-active="popup2")
    .popup
        button.popup__clouse(data-control-active="popup2")
        .popup__ok-h Ваша заявка успешно оформлена
        .popup__ok Мы свяжемся с Вами в ближайшее время