header.header__wrap
    .header
        a(href="#")
            svg(width="142", height="70").header__logo.header__logo_ver
                use(xlink:href="./assets/images/sprite.svg#logo_ver-g")
            svg(width="142", height="70").header__logo.header__logo_norm
                use(xlink:href="./assets/images/sprite.svg#logo")

        button(data-drop-kontacts-button).header__kontacts-button Адреса
        
        .header__body
            .header__kontacts
                .header__kontacts-item
                    span.header__kontacts-city Кузьмолово
                    span.header__kontacts-street Токсовское шоссе
                    a(href="tel:+78123804144").header__kontacts-tel +7 (812) 380-41-44
                .header__kontacts-item
                    span.header__kontacts-city Велигонты
                    span.header__kontacts-street Ропшинское шоссе
                    a(href="tel:+78123804144").header__kontacts-tel +7 (812) 380-41-44
                .header__kontacts-item
                    span.header__kontacts-city Сертолово
                    span.header__kontacts-street Выборгское шоссе
                    a(href="tel:+78123804144").header__kontacts-tel +7 (812) 380-41-44
                .header__kontacts-item
                    span.header__kontacts-city Санкт-Петербург
                    span.header__kontacts-street МЦ Аквилон
                    a(href="tel:+78123804144").header__kontacts-tel +7 (812) 380-41-44
                .header__kontacts-item
                    span.header__kontacts-city Заневка
                    span.header__kontacts-street Колтушское шоссе
                    a(href="tel:+78123804144").header__kontacts-tel +7 (812) 380-41-44
                button.button.button__ghost.header__kontacts-button-feedback Обратная связь            
            
            .header__menu-second-wrap
                nav.header__main-menu.main-menu
                    ul.main-menu__list
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc Продукция
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Столешницы
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Ступени
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Подоконники
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Рецепшен(барные стойки)
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Камины (биокамины)
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Облицовочная плитка
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Эксклюзивные изделия
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc Материалы
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Кварцевый агломерат
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Гранит
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Мрамор
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Оникс
                        li.main-menu__item
                            a(href="#").main-menu__linc Калькулятор стоимости
                        li.main-menu__item
                            a(href="#").main-menu__linc Акции
                        li.main-menu__item
                            a(href="#").main-menu__linc Сотрудничество 
                        li.main-menu__item
                            a(href="#").main-menu__linc Контакты 
                    
                    ul.main-menu__list.main-menu__list_second
                        li.main-menu__item
                            a(href="#").main-menu__linc О нас
                        li.main-menu__item
                            a(href="#").main-menu__linc Статьи
                        li.main-menu__item
                            a(href="#").main-menu__linc Прайс-лист
                        li.main-menu__item
                            a(href="#").main-menu__linc Доставка и оплата
                
                label.header__second
                    svg.header__second-icon
                        use(xlink:href="./assets/images/sprite.svg#icon-search")
                    input(type="search", name="search" placeholder="Найти").input.input_contact.header__second-input

                button(data-burger-button).header__burger-button
                    span

                
