header.header__wrap
    .header
        .header__info
            a(href="#")
                svg(width="142", height="70").header__logo.header__logo_ver
                    use(xlink:href="./assets/images/sprite.svg#logo_ver-g")
                svg(width="142", height="70").header__logo.header__logo_norm
                    use(xlink:href="./assets/images/sprite.svg#logo")
            a.header__link-mail(href="mailto:5020502@stonehouse.top") 5020502@stonehouse.top
            span.header__link-time Пн-Пт: 10:00 — 19:00

        button(data-drop-kontacts-button).header__kontacts-button Адреса
        
        .header__body
            .header__kontacts
                a.header__link-tel(href="tel:+7(812)502-0-502") +7 (812) 502-0-502
                ul.header__cont-list
                        li.header__cont-item
                            a.header__link-mail(href="mailto:5020502@stonehouse.top") 5020502@stonehouse.top
                        li.header__cont-item
                            span.header__link-time Пн-Пт: 10:00 — 19:00
                .header__wrapper
                    .header__add-wrap
                        span.header__add-name МЦ Аквилон
                        address.header__add-address Санкт-Петербург ул Новолитовская 15в, МЦ Аквилон, оф. 211/1
                    
                    .header__adds-wrap
                        a.header__link-drop(href="#")
                            span Пункты приема заказов
                            <svg width="10" height="6" viewBox="0 0 10 6" fill="none" xmlns="http://www.w3.org/2000/svg">
                                <path d="M1 1L5 5L9 1" stroke="#4F4F4F"/>
                            </svg>
                        ul.header__kontacts-list
                            li.header__kontacts-item
                                span.header__kontacts-city Кузьмолово
                                span.header__kontacts-street Ленинградская область, пос. Кузьмоловский, 8-й км Токсовского шоссе.
                            li.header__kontacts-item
                                span.header__kontacts-city Заневка
                                span.header__kontacts-street Ленинградская область, д. Заневка, станция Заневский пост, 1/2
                            li.header__kontacts-item
                                span.header__kontacts-city Сертолово
                                span.header__kontacts-street Ленинградская область, г. Сертолово, ул. Песочная д.8
                            li.header__kontacts-item
                                span.header__kontacts-city Велигонты
                                span.header__kontacts-street Ленинградская область д. Велигонты Ропшинское шоссе д. 20А
                            
                button(data-control-active="popup1").button.button__ghost.header__kontacts-button-feedback Обратная связь            
            
            .header__menu-second-wrap
                nav.header__main-menu.main-menu
                    ul.main-menu__list
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc Продукция
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Столешницы
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Ступени
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Подоконники
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Рецепшен(барные стойки)
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Камины (биокамины)
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Облицовочная плитка
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Эксклюзивные изделия
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc Материалы
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Кварцевый агломерат
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Гранит
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Мрамор
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Оникс
                        li.main-menu__item
                            a(href="#").main-menu__linc Калькулятор стоимости
                        li.main-menu__item
                            a(href="#").main-menu__linc Акции
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc Сотрудничество
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Прайс-лист
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc О нас
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Статьи
                        li.main-menu__item
                            a(href="#", data-drop-linc).main-menu__linc Контакты
                            ul(data-drop-menu).main-menu__drop-list
                                li.main-menu__drop-item
                                    a(href="#").main-menu__drop-linc Доставка и оплата
                    
                    ul.main-menu__list.main-menu__list_second
                        li.main-menu__item
                            a(href="#").main-menu__linc Статьи
                        li.main-menu__item
                            a(href="#").main-menu__linc Прайс-лист
                        li.main-menu__item
                            a(href="#").main-menu__linc Доставка и оплата
                
                label.header__second
                    svg.header__second-icon
                        use(xlink:href="./assets/images/sprite.svg#icon-search")
                    input(type="search", name="search" placeholder="Найти").input.input_contact.header__second-input

                button(data-burger-button).header__burger-button
                    span

                
