article.our-projects
    h2.h2.our-projects__h2 Выполненные проекты
    .swiper-container.our-projects-slider
        .swiper-wrapper.our-projects__wrap
            .our-projects__item.swiper-slide
                img(src="./assets/images/slider1.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider2.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider3.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider4.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider4.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider3.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider2.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

            .our-projects__item.swiper-slide
                img(src="./assets/images/slider1.png", alt="Caesarstone 4011 Cloudburst Concrete").our-projects__img
                span.our-projects__name Caesarstone 4011 Cloudburst Concrete
                span.our-projects__prise 111 165 руб.
                a(href="#").arrow-linc.our-projects__arrow-linc Подробнее о проекте

    a(href="#").button.button__ghost.our-projects__button Рассчитать стоимость изделия
