.page-slider__wrap
    .page-slider.swiper-container
        .swiper-wrapper
            .swiper-slide
                .page-slider__img-wrap
                    img(src="./assets/images/slider1.png", alt="Кварцевый агломерат").slider-main1__img
                    span.slider-main1__name Кварцевый агломерат 1
                .page-slider__specifications
                    span.slider-main2__name Vicostone Dark Emperador BQ1230
                    span.slider-main2__prise от 18 878 руб.
                    a(href="#").arrow-linc Подробнее
            .swiper-slide
                .page-slider__img-wrap
                    img(src="./assets/images/slider2.png", alt="Кварцевый агломерат").slider-main1__img
                    span.slider-main1__name Кварцевый агломерат 1
                .page-slider__specifications
                    span.slider-main2__name Vicostone Dark Emperador BQ1230
                    span.slider-main2__prise от 18 878 руб.
                    a(href="#").arrow-linc Подробнее
            .swiper-slide
                .page-slider__img-wrap
                    img(src="./assets/images/slider3.png", alt="Кварцевый агломерат").slider-main1__img
                    span.slider-main1__name Кварцевый агломерат 1
                .page-slider__specifications
                    span.slider-main2__name Vicostone Dark Emperador BQ1230
                    span.slider-main2__prise от 18 878 руб.
                    a(href="#").arrow-linc Подробнее

        .slider-nav
            .slider-nav__button-wrap
                button.slider-nav__button-prev.page-slider-prev
                button.slider-nav__button-next.page-slider-next

            .slider-nav__pagination.page-slider-pagination
