article.seo-block
    p.seo-block__text Изготавливаем по индивидуальному заказу столешницы из камня, подоконники и другие функциональные поверхности для жилых, офисных и общественных помещений. Наша складская программа обладает обширным ассортиментом долговечных покрытий, таких как мрамор, гранит, агломерат, керамика. Мы можем выполнить сложные технические задания по обработке материалов на собствен- ной производственной площадке в черте Санкт-Петербурга. Наши столешницы ориентированы на сложный сценарий использования, сочетают в себе отличные технические и потребительские характеристики

    .seo-block__right
        h3.seo-block__right-h Бесплатный выездменеджера
        p.seo-block__right-text — с образцами камней на объект для составления предварительного расчёта стоимости столешницы
        p.seo-block__right-text-linc Воспользуйтесь заявкой или свяжитесь с нами по <a href="tel:+78123804144">телефону</a>
