.seo-block2
    img(src="./assets/images/seo.jpg", alt="О.Камень").seo-block2__img

    .seo-block2__text-wrap
        h2.h2.seo-block2__h Преимущества
        p.seo-block2__text На рынке представлено очень много отделочных материалов. Но, несмотря на это, натуральный камень не теряет своей популярности. Компания «О. Камень» не первый год выпускает различные изделия из него. Она высоко востребована во всем Северо-Западном регионе страны. Продажа природного камня для декоративной отделки фасадов, цоколей, мощения дорог, обустройства и оформления земельных участков – основное направление нашей работы
        //- p.seo-block2__text Отделка и кладка из натурального камня прослужит десятки, а то и сотни лет, чему есть наглядные доказательства в виде многочисленных исторических и архитектурных памятников, которые и по сей день радуют своим величием и красотой

        .seo-block2__ficha-wrap
            .seo-block2__ficha
                svg
                    use(xlink:href="./assets/images/sprite.svg#ficha-icon-1")
                .seo-block2__ficha-text-wrap
                    h3.seo-block2__ficha-h Преимущества 1
                    p.seo-block2__ficha-text Отделка и кладка из натурального камня прослужит десятки, а то и сотни лет, чему есть наглядные доказательства.
            
            .seo-block2__ficha
                svg
                    use(xlink:href="./assets/images/sprite.svg#ficha-icon-1")
                .seo-block2__ficha-text-wrap
                    h3.seo-block2__ficha-h Преимущества 2
                    p.seo-block2__ficha-text Отделка и кладка из натурального камня прослужит десятки, а то и сотни лет, чему есть наглядные доказательства.
            
            .seo-block2__ficha
                svg
                    use(xlink:href="./assets/images/sprite.svg#ficha-icon-1")
                .seo-block2__ficha-text-wrap
                    h3.seo-block2__ficha-h Преимущества 3
                    p.seo-block2__ficha-text Отделка и кладка из натурального камня прослужит десятки, а то и сотни лет, чему есть наглядные доказательства.
