article.slider-main
    .slider-main__front
        .slider-main__text-wrap
            h1.slider-main__text-h1 Изготавливаем и устанавливаем изделия из камня в ваш дом
            button.button Заказать изделие
        
        .slider-main__slider2
            .slider-main2.swiper-container
                .swiper-wrapper
                    .slider-main2__item.swiper-slide
                        span.slider-main2__name Vicostone Dark Emperador BQ1230
                        span.slider-main2__prise от 18 878 руб.
                        a(href="#").arrow-linc Подробнее
                    .slider-main2__item.swiper-slide
                        span.slider-main2__name Vicostone Dark Emperador BQ2450
                        span.slider-main2__prise от 28 878 руб.
                        a(href="#").arrow-linc Подробнее
                    .slider-main2__item.swiper-slide
                        span.slider-main2__name Vicostone Dark Emperador BQ8560
                        span.slider-main2__prise от 38 878 руб.
                        a(href="#").arrow-linc Подробнее

    .slider-main__slider1.slider-main1.swiper-container
        .swiper-wrapper
            .slider-main1__item.swiper-slide
                img(src="./assets/images/slider1.png", alt="Кварцевый агломерат").slider-main1__img
                span.slider-main1__name Кварцевый агломерат 1
            .slider-main1__item.swiper-slide
                img(src="./assets/images/slider1.png", alt="Кварцевый агломерат").slider-main1__img
                span.slider-main1__name Кварцевый агломерат 2
            .slider-main1__item.swiper-slide
                img(src="./assets/images/slider1.png", alt="Кварцевый агломерат").slider-main1__img
                span.slider-main1__name Кварцевый агломерат 3

        .slider-main1__nav                
            .slider-main1__button-wrap
                button.slider-main1__button-prev
                button.slider-main1__button-next

            .slider-main1__pagination_wrap
    


