.contact__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-top: var(--block-m-t);
	padding-bottom: var(--block-m-b);
}

.contact {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}

.contact__img {
	object-fit: cover;
}

.contact__form {
	width: 100%;
	max-width: 560px;
	margin-right: 18px;
}

.contact__h {
	font-weight: bold;
	font-size: 40px;
	line-height: 120%;
	margin: 0 0 64px 0;
}

.contact__option-text {
	font-family: $font-Manrope;
	font-size: 16px;
	line-height: 125%;
	margin-bottom: 20px;
	display: block;
}

.contact__option-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 68px;
	justify-content: start;
	padding: 24px 0;
	border-top: 1px solid transparentize($color-gold, 0.7);
	border-bottom: 1px solid transparentize($color-gold, 0.7);
	margin-bottom: 32px;
	overflow: auto;
}

.contact__option-item {
	cursor: pointer;

	input {
		display: none;
	}

	span {
		font-size: 18px;
		line-height: 125%;
		color: $color-dark-gray;
	}

	input:checked + span {
		color: $color-bronze;
	}
}

.contact__input {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-gap: 16px;
	margin-bottom: 36px;
}

.contact__input-textarea,
.contact__input-file {
	grid-column-end: span 2;
}

.contact__input-textarea {
	height: 84px;
	min-height: 40px;
	max-height: 200px;
	resize: vertical;
}

.contact__button-wrap {
	display: flex;
}

.contact__button {
	margin-right: 32px;
}

.contact__type-contact-text {
	font-family: $font-Manrope;
	font-weight: 500;
	font-size: 14px;
	line-height: 114%;
	margin-bottom: 14px;
	display: block;
}

.contact__type-contact-wrap {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 16px;
	margin-bottom: 20px;
	justify-content: start;
}

.contact__type-contact-item {
	cursor: pointer;
	display: flex;

	> input {
		display: none;
	}

	> span {
		font-family: $font-Manrope;
		font-weight: 500;
		font-size: 12px;
		line-height: 125%;
		color: rgba(0, 0, 0, 0.5);
	}

	> input:checked + span {
		color: $color-black;
	}
}

.contact__conf {
	font-family: $font-Manrope;
	font-weight: 500;
	font-size: 12px;
	line-height: 125%;
	color: rgba(0, 0, 0, 0.5);
}

@media screen and (max-width: 1274px) {
	.contact__img {
		width: 60%;
	}
}

@media screen and (max-width: 960px) {
	.contact__img {
		display: none;
	}

	.contact__form {
		max-width: 100%;
		margin-right: 0;
	}
}

@media screen and (max-width: 768px) {
	.contact__h {
		margin-bottom: 32px;
	}

	.contact__option-wrap {
		padding: 18px 0;
		grid-column-gap: 33px;
	}

	.contact__option-item span {
		font-size: 16px;
	}

	.contact__button-wrap {
		flex-direction: column;
	}

	.contact__button {
		margin-right: 0;
		margin-bottom: 20px;
		order: 2;
	}

	.contact__type-contact {
		order: 1;
	}

	.input_contact {
		grid-column-end: span 2;
	}
}
