/* manrope-500 - latin_cyrillic */
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 500;
	src: local(""), url("../fonts/manrope-v3-latin_cyrillic-500.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/manrope-v3-latin_cyrillic-500.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}
/* manrope-regular - latin_cyrillic */
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 400;
	src: local(""), url("../fonts/manrope-v3-latin_cyrillic-regular.woff2") format("woff2"),
		/* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/manrope-v3-latin_cyrillic-regular.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}
/* manrope-600 - latin_cyrillic */
@font-face {
	font-family: "Manrope";
	font-style: normal;
	font-weight: 600;
	src: local(""), url("../fonts/manrope-v3-latin_cyrillic-600.woff2") format("woff2"), /* Chrome 26+, Opera 23+, Firefox 39+ */ url("../fonts/manrope-v3-latin_cyrillic-600.woff") format("woff"); /* Chrome 6+, Firefox 3.6+, IE 9+, Safari 5.1+ */
	font-display: swap;
}

@font-face {
	font-family: "PF BeauSans Pro";
	src: local("PFBeauSansPro-Regular"), url("../fonts/PFBeauSansPro-Regular.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Regular.woff") format("woff");
	font-weight: normal;
	font-style: normal;
}

@font-face {
	font-family: "PF BeauSans Pro";
	src: local("PFBeauSansPro-Bold"), url("../fonts/PFBeauSansPro-Bold.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Bold.woff") format("woff");
	font-weight: bold;
	font-style: normal;
}

@font-face {
	font-family: "PF BeauSans Pro Bbook";
	src: local("PFBeauSansPro-Bbook"), url("../fonts/PFBeauSansPro-Bbook.woff2") format("woff2"), url("../fonts/PFBeauSansPro-Bbook.woff") format("woff");
	font-weight: 500;
	font-style: normal;
}
