.footer__wrap {
	display: flex;
	flex-direction: column;
	background-color: $color-gray;
	align-items: center;
}

.footer {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
}

.footer__body {
	margin: 50px 0 30px 0;
	// display: flex;
	// flex-wrap: wrap;
	// justify-content: space-between;
	display: grid;
	grid-gap: 60px 30px;
	grid-template-columns: repeat(3, auto);
	justify-content: space-between;
}

.footer__body-infa {
	display: flex;
	flex-direction: column;
	max-width: 280px;
}

.footer__body-infa-logo {
	margin-bottom: 20px;
}

.footer__body-infa-text {
	font-family: $font-Manrope;
	font-size: 14px;
	color: $color-dark-lite;
	margin-bottom: 5px;
}

.footer__body-infa-text.text_bold {
	margin-bottom: 10px;
}

.footer__body-infa-text.text_bold:last-child {
	margin-bottom: 0;
	margin-top: 5px;
}

.footer__body-text-social {
	display: grid;
	grid-template-columns: 1fr;
	grid-row-gap: 10px;
	align-content: start;
	justify-items: end;
}

.footer__body-tel {
	font-family: $font-Manrope;
	font-weight: 500;
	font-size: 24px;
	color: $color-black;
}

.footer__body-mail {
	font-family: $font-Manrope;
	font-size: 14px;
	color: $color-black;
	margin-bottom: 30px;
}

.footer__body-social-wrap {
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.footer__body-social {
	position: relative;
	z-index: 2;
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 20px;
	justify-content: start;
	margin-top: 10px;
}

.footer__pay {
	margin-top: 10px;

	svg use {
		fill: #c0aa82;
	}
}

.footer__body-social-linc {
	svg use {
		fill: #c0aa82;
	}

	&:hover .icon-insta use {
		fill: #f00075;
	}
	&:hover .icon-vk use {
		fill: #2787f5;
	}
	&:hover .icon-yuotube use {
		fill: #ff0000;
	}
	&:hover .icon-facebook use {
		fill: #1877f2;
	}

	svg {
		width: 28px;
		height: 28px;
		color: inherit;
	}
}

.footer__body-meny {
}

.footer__body-meny-list {
	margin: 0;
	padding: 0;
	list-style: none;
	column-count: 2;
	column-gap: 60px;
	break-inside: avoid;
	margin-bottom: -20px;
}

.footer__body-meny-item {
	margin-bottom: 20px;
	width: max-content;
	break-inside: avoid;

	ul {
		list-style: none;
		margin: 0;
		padding: 0;
	}

	a {
		font-size: 14px;
		color: $color-dark-gray;
	}
}

.footer__body-meny-item .footer__body-meny-linc {
	color: $color-black;
	font-family: $font-Manrope;
	font-size: 16px;
	font-weight: bold;
	line-height: 133%;
	display: block;
}

.footer__bot {
	display: grid;
	margin-bottom: 40px;
	grid-auto-flow: column;
	grid-row-gap: 10px;
	justify-content: space-between;
}

.footer__bot-item {
	color: $color-dark-gray;
	font-family: $font-Manrope;
	font-size: 14px;
	font-weight: 600;
	line-height: 114%;

	a {
		color: $color-dark-gray;
	}
}

.footer__bot-item_ra a {
	color: $color-black;
}

.footer__bot-area {
	display: none;
	grid-column-end: span 2;
}

@media screen and (max-width: 1024px) {
	.footer__body {
		grid-template-columns: repeat(2, auto);
	}
	.footer__body-meny {
		grid-row-start: 2;
		grid-column: 1 / -1;
		justify-self: center;
	}
}

@media screen and (max-width: 550px) {
	.footer__body {
		grid-template-columns: 100%;
		justify-items: center;
		grid-row-gap: 30px;
	}

	.footer__body-infa {
		align-items: center;
		text-align: center;
	}

	.footer__body-meny-list {
		column-count: 1;
		text-align: center;
	}

	.footer__body-meny-item {
		width: auto;
	}

	.footer__body-text-social {
		justify-items: center;
		text-align: center;
	}

	.footer__body-mail {
		margin-bottom: 10px;
	}

	.footer__body-social-wrap {
		align-items: center;
	}
}

@media screen and (max-width: 440px) {
	.footer__bot {
		grid-auto-flow: row;
		justify-items: center;
		justify-content: center;
	}
}
