.header__wrap {
	position: relative;
	z-index: 11;
	display: flex;
	flex-direction: column;
	margin-bottom: 45px;
	background-color: $color-bek;
	align-items: center;
}

.header {
	position: relative;
	display: flex;
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	justify-content: space-between;
	align-items: center;
}

.header__info {
	display: grid;
	grid-template-columns: 1fr;
	font-family: $font-Manrope;
	margin-right: 40px;
	padding-top: 20px;
}

.header__logo {
	display: block;
	margin-right: 16px;
	flex-shrink: 0;
}

.header__logo_norm {
	display: none;
}

.header__link-mail {
	font-weight: 500;
	font-size: 14px;
	line-height: 16px;
	color: $color-superblack;
	margin: 20px 0 10px;
}

.header__link-time {
	font-weight: 500;
	font-size: 12px;
	line-height: 125%;
	color: $color-dark-blue;
}

.header__body {
	width: 100%;
	max-width: 1020px;
}

.header__kontacts {
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 8px 0 16px 0;
	border-bottom: 1px solid transparentize($color-dark-gray, 0.85);
}

.header__link-tel {
	font-family: $font-Manrope;
	font-weight: 600;
	font-size: 20px;
	line-height: 20px;
	color: $color-superblack;
}

.header__add-wrap {
	display: flex;
	align-items: center;
	font-family: $font-Manrope;
	font-size: 14px;
	line-height: 16px;
	color: $color-dark-gray;
}

.header__add-name {
	font-weight: 600;
}

.header__add-address {
	font-style: normal;
	margin-left: 10px;
}

.header__link-drop {
	display: block;
	font-family: $font-Manrope;
	font-weight: 600;
	font-size: 12px;
	line-height: 16px;
	color: $color-dark-gray;
	padding-bottom: 3px;

	&:hover {
		text-decoration: none;
	}

	span {
		margin-right: 5px;
	}
}

.header__kontacts-list {
	position: absolute;
    width: max-content;
	list-style: none;
    visibility: hidden;
	transform: translateY(-20px);
	z-index: 3;
    opacity: 0;
	background-color: $color-lightgrey;
	margin: 0 0 0 -12px;
	padding: 20px;
	
	transition: 150ms ease-out 0ms;
    transition-property: visibility, opacity, transform;
}

.header__adds-wrap {
	position: relative;
	margin-top: 20px;

	&:hover {
		.header__kontacts-list {
			visibility: visible;
			transform: translateY(0);
			opacity: 1;
		}
	}
}

.header__kontacts-button {
	display: none;
	margin: 0;
	padding: 0;
	cursor: pointer;
	border: none;
	background: none;
	font-family: $font-Manrope;
	font-size: 14px;
	font-weight: 500;
	align-items: center;

	&::after {
		display: block;
		width: 10px;
		height: 6px;
		margin-top: 3px;
		margin-left: 8px;
		content: "";
		transform: rotate(-90deg);
		background-image: url("../images/sprite.svg#icon-arrow-drop");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 11px;
	}
}

.header__kontacts-button._active::after {
	transform: rotate(90deg);
}

.header__kontacts-item {
	display: flex;
	flex-direction: column;
	color: $color-dark-gray;
	font-family: $font-Manrope;
	font-size: 14px;
	margin-bottom: 10px;

	&:last-of-type {
		margin-bottom: 0;
	}
}

.header__kontacts-city {
	font-weight: 600;
}

.header__kontacts-street {
	font-weight: 300;
	margin-top: 5px;
}

.header__kontacts-tel {
	text-decoration: none;
	color: $color-black;
	font-weight: 300;
}

.header__kontacts-button-feedback {
	align-self: center;
	min-width: auto;
	padding: 0 18px;
}

.header__menu-second-wrap {
	position: relative;
	display: flex;
	padding: 16px 0;
	align-items: center;
}

.header__main-menu {
	width: 100%;
}

.main-menu {
	font-family: $font-Manrope;
}

.header__cont-list {
	display: none;
}

.main-menu__list {
	display: grid;
	margin: 0;
	padding: 0;
	list-style: none;
	grid-auto-flow: column;
	grid-column-gap: 30px;
	justify-content: start;
	align-items: baseline;
}

.main-menu__item {
	position: relative;
}

.main-menu__linc {
	color: $color-black;
	font-size: 16px;
	font-weight: 500;
}

.main-menu__linc[data-drop-linc] {
	position: relative;
	z-index: 2;
	display: flex;
	align-items: center;

	&::after {
		display: block;
		width: 10px;
		height: 7px;
		margin-left: 6px;
		margin-top: 1px;
		content: "";
		background-image: url("../images/sprite.svg#icon-arrow-drop");
		background-repeat: no-repeat;
		background-position: center;
		background-size: cover;
	}
}

.main-menu__drop-list {
	position: absolute;
	z-index: 1;
	visibility: hidden;
	width: max-content;
	margin: 0 0 0 -12px;
	padding: 0;
	list-style: none;
	transform: translateY(-20px);
	opacity: 0;
	background-color: $color-bek;
}

.header__kontacts-button::after,
.header__kontacts,
.main-menu {
	transition: 200ms ease-out 0ms;
	transition-property: visibility, opacity, transform;
}
.main-menu__drop-list {
	transition: 150ms ease-out 0ms;
	transition-property: visibility, opacity, transform;
}

.main-menu__item {
	&:hover [data-drop-menu],
	&:focus-within [data-drop-menu] {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
}

.main-menu__drop-item {
	margin: 10px 12px;
}

.main-menu__drop-linc {
	color: $color-dark-gray;
	font-size: 16px;
}

.main-menu__list_second {
	position: absolute;
	top: 100%;
	left: 0;
	visibility: hidden;
	margin-left: -16px;
	padding: 14px 20px;
	transition: 100ms ease-in 0ms;
	transition-property: visibility, opacity, transform;
	transform: translateY(-10px);
	opacity: 0;
	border-top: 1px solid transparentize($color-dark-gray, 0.85);
	background-color: $color-bek;

	// &::before {
	// 	content: "";
	// 	position: absolute;
	// 	top: 0;
	// 	bottom: 0;
	// 	left: 50%;
	// 	transform: translateX(-50%);
	// 	width: 100vw;
	// 	display: block;
	// 	background-color: $color-bek;
	// 	z-index: -1;
	// }
}

.main-menu._active {
	.main-menu__list_second {
		visibility: visible;
		transform: translateY(0);
		opacity: 1;
	}
}

.header__second {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__second-icon {
	position: relative;
	z-index: 2;
	display: block;
	width: 24px;
	height: 24px;
	cursor: pointer;
}

.header__second-input {
	position: absolute;
	z-index: 1;
	right: 0;
	width: 0;
	height: 36px;
	margin-right: -6px;
	padding: 0;
	transition: 200ms ease-in-out 0ms;
	transition-property: width, opacity;
	opacity: 0;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);

	&::-webkit-search-cancel-button {
		width: 18px;
		height: 18px;
		cursor: pointer;
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.65685 6.34315L11.3137 12M16.9706 17.6569L11.3137 12M11.3137 12L16.9706 6.34315M11.3137 12L5.65685 17.6569' stroke='%23161615' stroke-width='1.5'/%3E%3C/svg%3E%0A");
		-webkit-appearance: none;
	}

	&:not(:placeholder-shown),
	&:focus {
		width: 300px;
		padding: 0 30px 0 18px;
		opacity: 1;
		outline: none;
	}
}

.header__burger-button {
	position: relative;
	width: 32px;
	height: 24px;
	margin-left: 20px;
	padding: 0;
	cursor: pointer;
	border: none;
	background-color: transparent;
	justify-content: center;
	display: none;

	span,
	&::before,
	&::after {
		left: 0;
		display: block;
		width: 100%;
		height: 1px;
		content: "";
		transition: 150ms ease-in-out 0ms;
		transition-property: top, transform, opacity, width;
		background-color: $color-black;
	}

	&::before {
		position: absolute;
		top: 4px;
	}

	&::after {
		position: absolute;
		bottom: 3px;
	}
}

.header__burger-button._active {
	span {
		opacity: 0;
	}

	&::before {
		top: 50%;
		width: 24px;
		transform: rotate(45deg);
	}

	&::after {
		top: 50%;
		bottom: auto;
		width: 24px;
		transform: rotate(-45deg);
	}
}

.close-area {
	position: fixed;
	z-index: 10;
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	display: none;
	background-color: rgba(0, 0, 0, 0.6);
}

.header-fixed {
	position: fixed;
	top: 0;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		bottom: 0;
		left: 50%;
		transform: translateX(-50%);
		width: 100vw;
		display: block;
		background-color: $color-bek;
		z-index: -1;
	}

	.header__logo_norm {
		display: block;
		height: 55px;
	}

	.header__logo_ver {
		display: none;
	}

	.header__kontacts {
		display: none;
	}

	.header__info {
		padding-top: 0;
	}

	.header__link-mail {
		display: none;
	}

	.header__link-time {
		display: none;
	}
}

@media screen and (max-width: 1200px) {
	.header__info {
		margin-right: 20px;
	}

	.header__link-tel {
		font-size: 16px;
	}

	.main-menu__list {
		grid-column-gap: 30px;
	}

	.main-menu__linc {
		font-size: 14px;
	}

	.main-menu__list {
		grid-column-gap: 20px;
	}
}

@media screen and (max-width: 1060px) {
	.header__add-wrap {
		flex-direction: column;
		align-items: flex-start;
	}

	.header__add-address {
		margin-left: 0;
		margin-top: 5px;
	}

	.main-menu__list {
		grid-column-gap: 15px;
	}
}

@media screen and (max-width: 1023px) {
	.header__logo_ver {
		display: none;
	}

	.header__logo_norm {
		display: block;
	}

	.header__wrap {
		margin-bottom: 45px;
		padding-bottom: 0;
	}

	.header__logo {
		width: 150px;
		height: auto;
	}

	.header__body {
		width: auto;
	}

	.header__kontacts-button {
		display: flex;
	}

	.header__kontacts {
		position: absolute;
		z-index: 98;
		top: 100%;
		right: 0;
		left: 0;
		display: grid;
		visibility: hidden;
		padding: 24px 16px;
		transform: translateX(-50%);
		opacity: 0;
		border-bottom: none;
		background-color: $color-white;
		grid-auto-flow: row;
		grid-row-gap: 36px;
		grid-template-columns: 100%;
	}

	.header__kontacts._active {
		visibility: visible;
		transform: translateX(0);
		opacity: 1;
	}

	.header__adds-wrap {
		margin-top: 10px;
	}

	.header__kontacts-list {
		max-width: 100%;
		position: static;
		opacity: 1;
		transform: none;
		background: none;
		visibility: visible;
		padding: 0;
		margin: 0;
	}

	.header__link-drop {
		display: none;
	}

	.header__kontacts-tel {
		font-weight: 600;
	}

	.header__cont-list {
		display: grid;
		grid-auto-flow: row;
		row-gap: 10px;
		list-style: none;
		padding: 0;
		margin: 0;
	}

	.header__menu-second-wrap {
		position: static;
		justify-content: flex-end;
		width: 150px;
	}

	.header__info {
		padding-top: 0;

		.header__link-mail {
			display: none;
		}
	
		.header__link-time {
			display: none;
		}
	}

	.main-menu {
		position: absolute;
		z-index: 99;
		top: 100%;
		right: 0;
		left: 0;
		visibility: hidden;
		padding: 24px 16px;
		transform: translateX(50%) scaleX(0);
		transform-origin: right;
		opacity: 0;
		background-color: $color-white;
	}

	.main-menu._active {
		visibility: visible;
		transform: translate(0) scaleX(1);
		opacity: 1;
		left: 0;
	}

	.main-menu__list {
		grid-auto-flow: revert;
		grid-row-gap: 16px;
	}

	.main-menu__list_second {
		position: static;
		margin: 24px 0 0 0;
		padding: 24px 0 0 0;
		border-color: transparentize($color-bronze, 0.85);
		background-color: transparent;
	}

	.main-menu__linc[data-drop-linc]::after {
		content: none;
	}

	.main-menu__drop-list {
		display: none;
	}

	.close-area._active {
		display: block;
	}

	.header-fixed .header__kontacts {
		display: grid;
	}

	.header__burger-button {
		display: block;
	}
}

@media screen and (max-width: 768px) {
	.header__second-input:not(:placeholder-shown),
	.header__second-input:focus {
		width: 226px;
	}
}

@media screen and (max-width: 500px) {
	.header__logo {
		width: 100px;
	}

	.header__menu-second-wrap {
		width: auto;
	}
}
