.header__wrap {
	display: flex;
	flex-direction: column;
	align-items: center;
	padding-bottom: 45px;
}

.header {
	width: 100%;
	max-width: var(--content-max-weight);
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.header__logo {
	margin-right: 16px;
	flex-shrink: 0;
}

.header__body {
	width: 100%;
	max-width: 940px;
}

.header__kontacts {
	display: flex;
	justify-content: space-between;
	padding: 8px 0 16px 0;
	border-bottom: 1px solid transparentize($color-dark-gray, 0.85);
}

.header__kontacts-item {
	display: flex;
	flex-direction: column;
	font-family: $font-Manrope;
	font-size: 14px;
	color: $color-dark-gray;
}

.header__kontacts-city {
	font-weight: 600;
}

.header__kontacts-street {
	font-weight: 300;
}

.header__kontacts-tel {
	color: $color-black;
	font-weight: 300;
	text-decoration: none;
}

.header__menu-second-wrap {
	display: flex;
	align-items: center;
	position: relative;
	margin: 16px 0;
}

.header__main-menu {
	width: 100%;
}

.main-menu {
	font-family: $font-Manrope;
}

.main-menu__list {
	display: grid;
	grid-auto-flow: column;
	grid-column-gap: 52px;
	justify-content: start;
	list-style: none;
	margin: 0;
	padding: 0;
}

.main-menu__item {
	position: relative;
}

.main-menu__linc {
	font-weight: 500;
	font-size: 16px;
	color: $color-black;
}

.main-menu__linc[data-drop-linc] {
	position: relative;
	display: flex;
	align-items: center;
	z-index: 2;

	&::after {
		content: "";
		display: block;
		width: 10px;
		height: 6px;
		margin-left: 12px;
		background-image: url("../images/sprite.svg#icon-arrow-drop");
		background-repeat: no-repeat;
		background-position: center;
		background-size: 11px;
	}
}

.main-menu__drop-list {
	visibility: hidden;
	opacity: 0;
	transform: translateY(-20px);
	position: absolute;
	list-style: none;
	width: max-content;
	margin: 0 0 0 -12px;
	padding: 0;
	background-color: $color-bek;
	transition: 150ms ease-in 0ms;
	transition-property: visibility, opacity, transform;
	z-index: 1;
}

.main-menu__item {
	&:hover [data-drop-menu],
	&:focus-within [data-drop-menu] {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.main-menu__drop-item {
	margin: 6px 12px;
}

.main-menu__drop-linc {
	font-size: 16px;
	color: $color-dark-gray;
}

.main-menu__list_second {
	visibility: hidden;
	opacity: 0;
	transform: translateY(-10px);
	transition: 100ms ease-in 0ms;
	transition-property: visibility, opacity, transform;

	position: absolute;
	top: 100%;
	left: 0;
	margin-top: 16px;
	padding: 10px 0;
	background-color: $color-bek;
	border-top: 1px solid transparentize($color-dark-gray, 0.85);
}

.main-menu_active {
	.main-menu__list_second {
		visibility: visible;
		opacity: 1;
		transform: translateY(0);
	}
}

.header__second {
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
}

.header__second-icon {
	position: relative;
	display: block;
	cursor: pointer;
	width: 24px;
	height: 24px;
	z-index: 2;
}

.header__second-input {
	position: absolute;
	opacity: 0;
	width: 0;
	height: 36px;
	right: 0;
	margin-right: -6px;
	z-index: 1;
	padding: 0;
	transition: 200ms ease-in-out 0ms;
	transition-property: width, opacity;
	box-shadow: 0px 0px 8px rgba(0, 0, 0, 0.08);

	&::-webkit-search-cancel-button {
		-webkit-appearance: none;
		background-image: url("data:image/svg+xml,%3Csvg width='18' height='18' viewBox='0 0 23 24' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5.65685 6.34315L11.3137 12M16.9706 17.6569L11.3137 12M11.3137 12L16.9706 6.34315M11.3137 12L5.65685 17.6569' stroke='%23161615' stroke-width='1.5'/%3E%3C/svg%3E%0A");
		height: 18px;
		width: 18px;
		cursor: pointer;
	}

	&:not(:placeholder-shown),
	&:focus {
		width: 300px;
		opacity: 1;
		outline: none;
		padding: 0 30px 0 18px;
	}
}

.header__burger-button {
	position: relative;
	justify-content: center;
	width: 32px;
	height: 24px;
	margin-left: 20px;
	padding: 0;
	border: none;
	background-color: transparent;
	cursor: pointer;

	span,
	&::before,
	&::after {
		content: "";
		display: block;
		width: 100%;
		height: 1px;
		background-color: $color-black;
		left: 0;
		transition: 150ms ease-in-out 0ms;
		transition-property: top, transform, opacity, width;
	}

	&::before {
		position: absolute;
		top: 4px;
	}

	&::after {
		position: absolute;
		bottom: 3px;
	}
}

.header__burger-button_active {
	span {
		opacity: 0;
	}

	&::before {
		width: 24px;
		top: 50%;
		transform: rotate(45deg);
	}

	&::after {
		width: 24px;
		top: 50%;
		bottom: auto;
		transform: rotate(-45deg);
	}
}
