.our-projects {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	margin-bottom: var(--block-m-b);
	display: flex;
	flex-direction: column;
}

.our-projects__h2 {
	margin: 0 0 40px 0;
}

.our-projects__wrap {
	display: grid;
	grid-template-columns: repeat(4, 1fr);
	grid-column-gap: 24px;
	grid-row-gap: 40px;
	margin-bottom: 64px;
}

.our-projects__item {
	display: flex;
	flex-direction: column;
}

.our-projects__img {
	display: block;
	object-fit: cover;
	height: 200px;
	width: 100%;
	margin-bottom: 16px;
}

.our-projects__name {
	font-family: $font-Manrope;
	font-weight: bold;
	color: $color-dark-blue;
	margin-bottom: 12px;
}

.our-projects__prise {
	font-family: $font-Manrope;
	margin-bottom: 24px;
}

.our-projects__arrow-linc {
	font-size: 14px;

	&::after {
		margin-top: 1px;
	}
}

.our-projects__button {
	align-self: center;
}

.our-projects-slider {
	width: 100%;
}

@media screen and (max-width: 1274px) {
}

@media screen and (max-width: 960px) {
	.our-projects__wrap {
		grid-template-columns: repeat(2, 1fr);
	}
}

@media screen and (max-width: 768px) {
	.our-projects-slider {
		overflow: visible;
	}

	.our-projects__wrap {
		display: flex;
		grid-column-gap: 0;
		grid-row-gap: 0;
	}

	.our-projects__item {
		width: 280px;
	}
}
