.slider-main {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	margin-bottom: var(--block-m-b);
	display: grid;
	grid-template-columns: 310px 1fr;
	position: relative;
}

// .slider-main__front {
// 	width: 100%;
// 	max-width: 300px;
// 	position: relative;
// 	margin-right: 10px;
// }

.slider-main__text-wrap {
	top: 24px;
	left: 0;
	position: relative;
	padding: 40px 0;
	z-index: 2;
	align-self: start;

	&::before {
		content: "";
		position: absolute;
		top: 0;
		right: 0;
		bottom: 0;
		width: 100vw;
		background-color: $color-gray;
		z-index: -1;
	}
}

.slider-main__text-h1 {
	width: 630px;
	font-weight: bold;
	font-size: 48px;
	line-height: 117%;
	margin: 0;
	margin-bottom: 44px;
}

.slider-main__slider2 {
	width: 100%;
	align-self: flex-end;
	padding-right: 18px;
}

.slider-main2__item {
	background-color: $color-bek;
	display: flex;
	flex-direction: column;
}

.slider-main2__name {
	font-family: $font-Manrope;
	font-weight: bold;
	font-size: 24px;
	color: $color-dark-blue;
	margin-bottom: 8px;
}

.slider-main2__prise {
	font-size: 18px;
	margin-bottom: 24px;
}

.slider-main__slider1 {
	height: 690px;
	width: calc(((100vw - 1240px) / 2) + 100%);
	max-width: 1270px;
	// width: 100%;
	grid-column: 2/2;
	grid-row: span 2;
}

.slider-main1__item {
	position: relative;
	width: 100%;
	height: 100%;
}

.slider-main1__name {
	font-family: $font-Manrope;
	font-weight: 500;
	position: absolute;
	bottom: 20px;
	left: 44px;
	color: $color-gray;

	&::before {
		content: "— ";
	}
}

.slider-main1__img {
	width: 100%;
	height: 100%;
	object-fit: cover;
}

.slider-nav {
	position: absolute;
	z-index: 2;
	display: flex;
	flex-direction: column;
	align-items: flex-end;
}

.slider-main1__nav {
	right: 44px;
	bottom: 20px;
}

.slider-nav__button-prev,
.slider-nav__button-next {
	margin: 0;
	padding: 0;
	background-color: $color-gray;
	border: none;
	width: 26px;
	height: 26px;
	mask: url("../images/sprite.svg#arrow-mask");
	mask-repeat: no-repeat;
	mask-position: center;
	mask-size: 26px;
	cursor: pointer;
}

.slider-nav__button-prev {
	margin-right: 16px;
}

.slider-nav__button-next {
	transform: rotate(180deg);
}

.slider-nav__pagination {
	font-family: $font-Manrope;
	color: $color-gray;
	font-weight: 400;
	font-size: 18px;
	display: flex;
	align-items: center;

	.swiper-pagination-current {
		font-size: 24px;
		margin-right: 4px;
		margin-top: 2px;
		width: 30px;
	}

	.swiper-pagination-total {
		margin-left: 4px;
	}

	&::before {
		content: "";
		width: 146px;
		height: 1px;
		display: block;
		background-color: $color-gray;
		margin-right: 16px;
		margin-top: 3px;
	}
}

.many-sliders {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	display: grid;
	grid-template-columns: 847px 1fr;
	grid-template-rows: repeat(2, 216px);
	grid-row-gap: 24px;
	grid-column-gap: 46px;
	margin-bottom: var(--block-m-b);
}

.many-sliders__item {
	width: 100%;
	height: 100%;

	&:first-child {
		grid-row-end: 2 span;
	}

	.slider-nav {
		right: 0;
		bottom: 0;
		background: $color-bek;
	}

	.slider-nav__pagination {
		color: $color-black;

		&::before {
			background-color: $color-black;
			width: 60px;
		}
	}

	.swiper-slide {
		height: 100%;
		display: flex;
		flex-direction: column;
		position: relative;
	}

	.many-sliders__img {
		width: 100%;
		object-fit: cover;
	}

	.many-sliders__type {
		position: absolute;
		top: 12px;
		left: 0;
		padding: 8px 16px 8px 32px;
		background-color: rgba(49, 44, 42, 0.7);
		color: $color-white;
		font-family: $font-Manrope;
		font-size: 14px;
	}

	.many-sliders__text {
		flex-grow: 0;
		height: 56px;
		display: flex;
		flex-direction: column;
	}

	.many-sliders__name {
		font-family: $font-Manrope;
		font-size: 16px;
		font-weight: 500;
		color: $color-dark-gray;
		margin: 8px 0 4px 0;
	}

	.many-sliders__prise {
		font-family: $font-Manrope;
		font-weight: bold;
		font-size: 14px;
	}

	.slider-nav__button-wrap {
		margin-bottom: -10px;
		margin-top: -6px;
	}

	.slider-nav__button-prev,
	.slider-nav__button-next {
		background-color: $color-black;
	}
}

// page-slider
.page-slider__wrap {
	width: 100%;
	max-width: $content-max-weight;
	padding-right: var(--content-p-r);
	padding-left: var(--content-p-l);
	position: relative;
	margin-bottom: var(--block-m-b);

	&::before {
		content: "";
		position: absolute;
		z-index: 1;
		top: 0;
		right: 75px;
		left: 0;
		height: 470px;
		background-color: $color-gray;
	}
}

.page-slider {
	// width: 100%;
	margin: 50px 0 0 50px;
	position: relative;
	z-index: 2;

	.slider-nav {
		position: absolute;
		top: 475px;
		right: 44px;
	}
}

.page-slider__img-wrap {
	position: relative;
	width: 100%;
	height: 560px;
}

.page-slider__specifications {
	margin-top: 12px;

	.slider-main2__name {
		display: block;
		margin-bottom: 8px;
	}

	.arrow-linc {
		display: inline-flex;
		margin-left: 32px;
	}
}

@media screen and (max-width: 1274px) {
	.slider-main {
		--content-p-r: 0;
	}
	.slider-main__slider1 {
		width: 100%;
	}
}

@media screen and (max-width: 960px) {
	.slider-main {
		display: flex;
		flex-direction: column;
		--content-p-l: 0;
	}

	.slider-main__slider1 {
		grid-column: auto;
		grid-row: auto;
		height: 480px;
	}

	.slider-main1__name {
		left: 16px;
		font-size: 12px;
	}

	.slider-main__text-wrap {
		position: absolute;
		left: 16px;
		top: 32px;
		padding: 0;

		&::before {
			content: none;
		}
	}

	.slider-main__text-h1 {
		font-size: 28px;
		width: 80%;
		margin-bottom: 18px;
	}

	.slider-nav__pagination::before {
		width: 36px;
	}
	.slider-main1__nav {
		right: 16px;
		bottom: 12px;
	}

	.slider-main__slider2 {
		padding: 12px 16px 0 16px;
	}
}

@media screen and (max-width: 768px) {
	.slider-main__slider1 {
		height: 360px;
	}
	.slider-main__text-h1 {
		font-size: 28px;
		width: 100%;
	}
}
